<div style="margin-bottom: 20px; margin-top: 30px;" class="brandBlue" translate>
    Looking for message ideas?
    <br/> 5000 messages ready to send in our free app! 
  </div>
  
  <div class="row">
    <div class="col-md-6" style="margin-bottom: 40px;">
      
      <a ng-href="https://play.google.com/store/apps/details?id=com.wavemining.emoji.elite" targetId="emoji-elite-android" target="_blank" class="list-group-item" >
        <img style="margin-top:15px;width:10vw;" src="/assets/link_to_elite_emoji_android.jpg"/>
        <div style="margin-top: 10px;">Elite Empoji Android</div>
      </a>
    </div>
    <div class="col-md-6" style="margin-bottom: 40px;">
      
        <a ng-href="https://apps.apple.com/us/app/emoji-elite/id1269091014" targetId="emoji-elite-ios" target="_blank" class="list-group-item" >
          <img style="margin-top:15px;width:10vw;" src="/assets/link_to_elite_emoji_ios.jpg"/>
          <div style="margin-top: 10px;">Elite Emoji iOS</div>
        </a>
      </div>
  </div>
  
  