<div class="col-xs-12 col-md-4 text-center" style="margin-top: 20px;">
  <!-- Name -->
  <div>
    {{poster.userFriend.name}}
  </div>
  <!-- Birthday and age -->
  <div class="text-info">
    <span ng-show="fbBirthdayHasDayAndMonth(poster.userFriend.birthday)">{{fbBirthdayToDisplay(poster.userFriend.birthday)}}</span>
    <span ng-show="fbBirthdayHasDayAndMonth(poster.userFriend.birthday) && fbBirthdayHasYear(poster.userFriend.birthday)"> - </span>
    <span ng-show="fbBirthdayHasYear(poster.userFriend.birthday)">{{fbAgeToDisplay(poster.userFriend.birthday)}}</span>
    <span ng-show="fbBirthdayHasYear(poster.userFriend.birthday)"> </span>
    <span ng-show="fbBirthdayHasYear(poster.userFriend.birthday)" translate>ans</span>
    <!--<span class="label label-default" style="margin-left: 5px;" >{{ poster.userFriend.ufContext | translate }}</span>-->
    <button class="button btn btn-default btn-xs" ng-show = "poster.userFriend.ufContext" ng-click="showContextFilters()"
            style="margin-left: 5px;" >{{ poster.userFriend.ufContext | translate }}</button>
    <button class="button btn btn-default btn-xs" ng-show = "poster.userFriend.ufRecipientTypeId" ng-click="showRecipientTypes()"
            style="margin-left: 5px;" >{{ getRecipientTypeLabel(poster.userFriend.ufRecipientTypeId) | translate }}</button>
  </div>
  <!-- Debug info -->
  <div ng-show="isDebug">{{ getUserFriendInfo() }} texts</div>
  <!-- Message -->
  <textarea ng-model="poster.fullTextList[0].Content" style="width:100%; padding: 15px; margin-bottom: 5px; background-color: #d9edf7" disabled rows="5"></textarea>
  <button type="button" ng-click="showNextQuestion()" class="btn btn-primary btn-sm">Améliorer</button>
</div>
