 <!-- BasicFilters  filtering buttons -->
 <div ng-controller="TextFiltersController">
     <!-- Breadcrumbs -->
     <ul class="breadcrumb"  ng-show = "showBreadcrumbs()">
         <li><a href="/userprofile"  >Moi </a>
             &nbsp <img ng-src="./assets/arrow-right.png" class="breadcrumbpicto"> &nbsp
             <a href="" ng-show="BasicFilters.getHideRecipientGender()" ng-click = "definirGenreDestinataire('I')">
                 <img id="breadcrumbCrossRecipientGender" ng-src="./assets/cross.png" class="breadcrumbpicto" >
                 <img ng-src="./assets/{{ getRecipientGenderIconName() }}" class="breadcrumbpicto"></a>
             </a>
             <a href="" ng-show="BasicFilters.getHideTuOuVous()" ng-click = "definirTuOuVous('I')" >
                 &nbsp
                 <img id="breadcrumbCrossTuOuVous" ng-src="./assets/cross.png" class="breadcrumbpicto" >
                 {{ getTuOuVousLabel() }}
             </a>
         </li>
     </ul>

     <!-- User Gender -->
     <ul class="pager bmwQuestionButton" ng-show = "!BasicFilters.getHideSenderGender()">
         Vous êtes
         <li ng-class = '{selectionne: BasicFilters.getSenderGender()=="H"}'>
             <a targetType="Command" targetId="UserGender" ng-click = "definirGenreExpediteur('H')">Un homme</a></li>
         <li ng-class = '{selectionne: BasicFilters.getSenderGender()=="F"}'>
             <a targetType="Command" targetId="UserGender" ng-click = "definirGenreExpediteur('F')">Une femme</a></li>
     </ul>

     <!-- Recipient Gender -->
     <ul class="pager bmwQuestionButton" ng-show = "!BasicFilters.getHideRecipientGender()">
     Destinataire
         <li ng-class= '{selectionne: RecipientGender()=="H"}'>
         <!-- PostAction is better left in ng-click -->
         <!--<a href="" targetType="Command" targetId="RecipientGender" targetParameters="H"  ng-click = "definirGenreDestinataire('H')">     <img ng-src="./assets/maleuser32.png" class="breadcrumbpicto">  </a></li>-->
            <a targetType="Command" targetId="RecipientGender"  ng-click = "definirGenreDestinataire('H')">     <img ng-src="./assets/maleuser32.png" class="breadcrumbpicto">  </a></li>
         <li ng-class= '{selectionne: RecipientGender()=="F"}' >
            <a targetType="Command" targetId="RecipientGender" ng-click = "definirGenreDestinataire('F')">     <img ng-src="./assets/femaleuser32.png" class="breadcrumbpicto">  </a></li>
         <li ng-class= '{selectionne: RecipientGender()=="P"}' >
             <a targetType="Command" targetId="RecipientGender" ng-click = "definirGenreDestinataire('P')">    <img ng-src="./assets/several32.png" class="breadcrumbpicto"> </a></li>
     </ul>

     <!-- In French, would you say Tu or Vous -->
     <ul class="pager bmwQuestionButton" ng-show = "!BasicFilters.getHideTuOuVous()">
     Lui dire
         <li ng-class= '{selectionne: BasicFilters.getTuOuVous()=="T"}'>
             <a targetType="Command" targetId="TuOuVous" ng-click = "definirTuOuVous('T')">Tu</a></li>
         <li ng-class= '{selectionne: BasicFilters.getTuOuVous()=="V"}' >
             <a targetType="Command" targetId="TuOuVous" ng-click = "definirTuOuVous('V')">Vous</a></li>
     </ul>
 </div>