 <!-- BasicFilters  filtering buttons -->
 <div ng-controller="TextFiltersController">
     <!-- Breadcrumbs -->
     <ul class="breadcrumb"  ng-show = "showBreadcrumbs()">
         <li>
           <!--User -->
            <a ng-href="{{app.appUrlSvc.getFullPath('')}}userprofile" translate >Moi </a> &nbsp
            <img ng-src="./assets/arrow-right.png" class="breadcrumbpicto"> &nbsp
           <!-- Recipient gender -->
            <a href="" ng-show="recipientGenderIsDefined()" ng-click = "resetRecipientGender()">
                 <img id="breadcrumbCrossRecipientGender" ng-src="./assets/cross.png" class="breadcrumbpicto" >
                 <img ng-src="./assets/{{ getRecipientGenderIconName() }}" class="breadcrumbpicto"></a>
            </a>
           <!-- Recipient Tu ou Vous -->
            <a href="" ng-show="filters.tuOuVous" ng-click = "filters.tuOuVous = null" >
                 &nbsp
                 <img id="breadcrumbCrossTuOuVous" ng-src="./assets/cross.png" class="breadcrumbpicto">
                 {{ getTuOuVousLabel() | translate }}
            </a>
         </li>
     </ul>

     <!-- User Gender -->
     <div ng-show = "false && currentUser.gender == null">
         <ul class="pager bmwQuestionButton">
             <span translate>Vous êtes</span>
             <li ng-class = '{selectionne: currentUser.gender=="H"}'>
                 <a translate targetType="Command" targetId="UserGender" ng-click = "currentUser.gender = 'H'">Un homme</a></li>
             <li ng-class = '{selectionne: currentUser.gender=="F"}'>
                 <a translate targetType="Command" targetId="UserGender" ng-click = "currentUser.gender = 'F'">Une femme</a></li>
         </ul>
     </div>

     <!-- Recipient Gender -->
     <div ng-show = "filters.recipientGender == null">
         <ul class="pager bmwQuestionButton">
             <span translate>Destinataire</span>
             <li ng-class= '{selectionne: filters.recipientGender == "F"}' >
                <a targetType="Command" targetId="RecipientGender" ng-click = "filters.recipientGender = 'F'">
                    <img ng-src="./assets/femaleuser32.png" class="breadcrumbpicto">
                </a>
            </li>
             <li ng-class= '{selectionne: filters.recipientGender=="H"}'>
                <a targetType="Command" targetId="RecipientGender"  ng-click = "filters.recipientGender = 'H'">
                    <img ng-src="./assets/maleuser32.png" class="breadcrumbpicto">
                </a>
            </li>
             <li ng-class= '{selectionne: filters.recipientGender == "P"}' ng-show="canHaveSeveralRecipientsforCurrentArea()" >
                 <a targetType="Command" targetId="RecipientGender" ng-click = "filters.recipientGender = 'P'">
                    <img ng-src="./assets/several32.png" class="breadcrumbpicto">
                </a>
            </li>
         </ul>
     </div>

     <!-- In French, would you say Tu or Vous -->
     <div ng-show = "filters.tuOuVous == null && currentLanguageHasTVDistinction()">
         <ul class="pager bmwQuestionButton">
             <span translate>Lui dire</span>
             <li ng-class= '{selectionne: filters.tuOuVous=="T"}'>
                 <a targetType="Command" targetId="TuOuVous" ng-click = "filters.tuOuVous = 'T'">Tu</a></li>
             <li ng-class= '{selectionne: BasicFilters.getTuOuVous()=="V"}' >
                 <a targetType="Command" targetId="TuOuVous" ng-click = "filters.tuOuVous = 'V'">Vous</a></li>
         </ul>
     </div>
 </div>