<div action-location="LanguageBar" ng-controller="LanguageBarController">
  <div style="margin-bottom: 15px;">
    <a href="" ng-click="changeLanguage('fr')" class="frontpageLink" TargetId="fr" ng-class='{"active": getLanguage()=="fr"}'>Français</a>
    <a href="" ng-click="changeLanguage('en')" class="frontpageLink" TargetId="en" ng-class='{"active": getLanguage()=="en"}'>English</a>
    <a href="" ng-click="changeLanguage('es')" class="frontpageLink" TargetId="es" ng-class='{"active": getLanguage()=="es"}'>Español</a>
  </div>
</div>