<!-- Two different layout for the facebook like plugin (small or large screen) -->
<div action-location="PageLikePlugin" ng-controller="PageLikeController">
  <div  style="margin-bottom: 15px;" >
    <!-- Always point to the French fb page for the time being : much more users ! -->
    <div ng-show ="true ||  isFrench"  class="fb-like hidden-xs" data-href="https://www.facebook.com/MessagesAmusants" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <!--<div ng-show ="!isFrench" class="fb-like hidden-xs" data-href="https://www.facebook.com/TouchWording" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>-->
  </div>
  <div class="visible-xs" style="margin-bottom: 15px;" >
    <div ng-show ="true || isFrench"  class="fb-like" data-href="https://www.facebook.com/MessagesAmusants" data-layout="button_count" data-action="like" data-share="true"></div>
    <!--<div ng-hide ="isFrench" class="fb-like" data-href="https://www.facebook.com/TouchWording"     data-layout="button_count" data-action="like" data-share="true"></div>-->
  </div>
</div>