<!-- Progress bar  -->
<!-- <div class="progress progress-striped active" ng-show = "showProgressBar()"  ng-controller="ProgressBarController"> -->
 
<!-- <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{TextListPanel.progressBarWidth}}%"> -->
<!-- <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{progressBarWidth()}}%"> -->
<!-- <span class="sr-only">{{TextListPanel.progressBarWidth}}% Complete</span>
  <span class="sr-only">{{progressBarWidth()}}% Complete</span>
</div>
</div>-->
