<div action-location="QuestionBar">
  <div ng-show = "questionBar.askForUserGender()" class="questionLine">
    <span translate>Vous êtes</span>
    <!-- We don't really need to show the status as questions disapear -->
    <!--<span ng-class = '{selectionne: currentUser.gender=="H"}'>-->
    <a class="questionChoice" ng-click = "currentUser.gender = 'H'" translate targetType="Question" targetId="UserGender" >Un homme</a>
    <a class="questionChoice" ng-click = "currentUser.gender = 'F'" translate targetType="Question" targetId="UserGender" >Une femme</a>
  </div>

  <div ng-show = "questionBar.askForRecipientGender() && recipientGenderCanHelpChooseTexts()" class="questionLine"  >
    <span translate>Destinataire</span>
    <a ng-click = "filters.recipientGender = 'F'" class="questionChoice" targetType="Question" targetId="RecipientGender">
      <img ng-src="./assets/femaleuser32.png" class="breadcrumbpicto">
    </a>
    <a ng-click = "filters.recipientGender = 'H'" class="questionChoice" targetType="Question" targetId="RecipientGender">
      <img ng-src="./assets/maleuser32.png" class="breadcrumbpicto">
    </a>
    <a ng-click = "filters.recipientGender = 'P'" class="questionChoice" targetType="Question" targetId="RecipientGender">
      <img ng-src="./assets/several32.png" class="breadcrumbpicto">
    </a>
  </div>

  <div ng-show = "questionBar.askForProximity()" class="questionLine">
    <span translate>Proche</span>
    <a ng-click = "filters.proximity = 'P'" class="questionChoice" translate targetType="Question" targetId="Proximity">oui</a>
    <a ng-click = "filters.proximity = 'D'" class="questionChoice" translate targetType="Question" targetId="Proximity">non</a>
    <a ng-click = "filters.proximity = 'I'" class="questionChoice" translate targetType="Question" targetId="Proximity">+ ou -</a>
  </div>

  <div ng-show = "questionBar.askForTuOuVous() && politeFormCanHelpChooseTexts()" class="questionLine">
    <span translate>Lui dire</span>
    <a ng-click = "filters.tuOuVous = 'T'" class="questionChoice" translate targetType="Question" targetId="TuOuVous">Tu</a>
    <a ng-click = "filters.tuOuVous = 'V'" class="questionChoice" translate targetType="Question" targetId="TuOuVous">Vous</a>
  </div>

  <div ng-repeat="style in questionBar.getStyleList()" ng-if="style.visible" ng-show = "questionBar.isStyleVisible(style.name)" class="questionLine">
      <span translate>{{style.name}}</span>
      <a ng-click = "questionBar.setStyleChoice(style.name,'yes')" class="questionChoice" translate targetType="Question" targetId="{{ style.name }}" targetParameters='yes'>oui</a>
      <a ng-click = "questionBar.setStyleChoice(style.name,'no')" class="questionChoice" translate targetType="Question" targetId="{{ style.name }}" targetParameters='no'>non</a>
      <a ng-click = "questionBar.setStyleChoice(style.name,'maybe')" class="questionChoice" translate targetType="Question" targetId="{{ style.name }}" targetParameters='maybe'>peut-être</a>
   </div>
</div>
