<div action-location="StyleBar" ng-controller="StyleBarController">
    <ul class="pager bmwQuestionButton " ng-show = 'true' >
        <li >
            <a href="/area/{{ currentArea.Name }}/intention/{{ recipientId }}" class="pull-left" role="button"  targetId="Back" > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
        </li>

        <li class="nombreTextesB labelTextesB">
            <a href="" targetId="StyleDialog"  ng-click="showStyleFilters()">
                {{filteredList.length}} &nbsp <img src="./assets/e-mail64.png" class="stylepicto">
            </a>
        </li>

        <li ng-class= '{selectionne: AtLeastOneStyleToExclude() || AtLeastOneStyleToPrefer() }' class = "pull-right" >
            <a href="" targetId="StyleDialog" ng-click="showStyleFilters()">
                <img ng-src="./assets/choice.png" class="stylepicto">  Styles
            </a>
        </li>
    </ul>
</div>