<div ng-show=" !currentUser || !currentUser.gender ">
  <div class="hidden-xs" >
    <!--<img style="margin-top:15px" src="./assets/wolf.jpg">-->
    <img style="margin-top:0px" src="./assets/facebook_status.jpg">
  </div>
  <div class="visible-xs">
    <img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="./assets/wolf.jpg">
  </div>
</div>

<div ng-show=" currentUser.gender == 'F' ">
  <div class="hidden-xs" >
    <!--<img style="margin-top:15px" src="./assets/woman.jpg">-->
    <img style="margin-top:15px" width="448px;" src="http://az767698.vo.msecnd.net/cvd/fbfriend/other/small/shutterstock_175802813.jpg">

  </div>
  <div class="visible-xs">
    <!--<img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="./assets/woman.jpg">-->
    <img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="http://az767698.vo.msecnd.net/cvd/fbfriend/other/small/shutterstock_175802813.jpg">
  </div>
</div>

<div ng-show=" currentUser.gender == 'H' ">
  <div class="hidden-xs" >
    <!--<img style="margin-top:15px" src="./assets/carry.jpg">-->
    <!--<img style="margin-top:15px" width="448px;" src="http://gw-static.azurewebsites.net/cvd/fbfriend/other/small/iStock_000006842719_Large.jpg">-->
    <!--<img style="margin-top:15px" width="448px;" src="http://gw-static.azurewebsites.net/cvd/fbfriend/other/small/shutterstock_123886246.jpg">-->
    <!--<img style="margin-top:15px" width="448px;" src="http://gw-static.azurewebsites.net/cvd/fbfriend/other/small/shutterstock_117930757.jpg">-->
    <img style="margin-top:15px" width="448px;" src="http://az767698.vo.msecnd.net/cvd/fbfriend/other/small/shutterstock_173442782.jpg">
  </div>
  <div class="visible-xs">
    <!--<img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="./assets/carry.jpg">-->
    <img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="http://az767698.vo.msecnd.net/cvd/fbfriend/other/small/shutterstock_173442782.jpg">
  </div>
</div>