
<!--<div ng-click="setCurrentPoster()"  class="col-xs-12 col-md-4 text-center" style="margin-top: 20px; height: 215px;">-->
<div ng-click="setCurrentPoster()"  class="col-xs-12 col-md-4 text-center" style="margin-top: 15px; margin-bottom: 15px;" action-location="Poster">
  <!-- Name -->
  <div>
    {{poster.userFriend.name}}
  </div>
  <!-- Birthday and age -->
  <div class="text-info" style="margin-top: 0px; margin-bottom: 5px; height: 20px; ">
    <span ng-show="dateHelperSvc.fbBirthdayHasDayAndMonth(poster.userFriend.birthday)">{{dateHelperSvc.fbBirthdayToDisplay(poster.userFriend.birthday)}}</span>
    <span ng-show="dateHelperSvc.fbBirthdayHasDayAndMonth(poster.userFriend.birthday) && dateHelperSvc.fbBirthdayHasYear(poster.userFriend.birthday)"> - </span>
    <span ng-show="dateHelperSvc.fbBirthdayHasYear(poster.userFriend.birthday)">{{dateHelperSvc.fbAgeToDisplay(poster.userFriend.birthday)}}</span>
    <span ng-show="dateHelperSvc.fbBirthdayHasYear(poster.userFriend.birthday)"> </span>
    <span ng-show="dateHelperSvc.fbBirthdayHasYear(poster.userFriend.birthday)" translate>ans</span>
  <span style="height: 25px;">
      <button type="button" class="btn btn-default btn-xs" ng-show = "poster.userFriend.ufContext" ng-click="showContextFilters()"
              style="margin-left: 5px;" >{{ poster.userFriend.ufContext | translate }}</button>
      <button type="button" class="btn btn-default btn-xs" ng-show = "poster.userFriend.ufRecipientTypeId" ng-click="showRecipientTypes()"
              style="margin-left: 5px;" >{{ getRecipientTypeLabel(poster.userFriend.ufRecipientTypeId) | translate }}</button>
  </span>

  </div>

  <!-- Debug info -->
  <div ng-show="isDebug">{{ getUserFriendInfo() }} texts</div>
  <!-- Message -->
  <textarea ng-model="poster.posterTextContent" style="width:100%; padding: 12px; margin-bottom: 5px; margin-top: 2px; background-color: #d9edf7" rows="5"></textarea>
  <!-- Buttons -->
  <div style="margin-top: 5px;">
    <a targetId="na" targetType="na" actionType="na" ng-href="{{appUrlSvc.getRootPath()}}area/{{ currentAreaName }}/dashboard/{{ getPosterIntentionSlug() }}/{{ getPosterTextId() }}">
      <button type="button" ng-click="appUrlSvc.setTextDetailWasCalledFromDashboard(true)"
              targetId="{{ getPosterTextId() }}" targetType="Text" actionType="open" class="btn btn-primary" translate>OK</button>
    </a>
    <button type="button" ng-show="moreQuestionsCanBeShown()" ng-click="showNextQuestion()" targetId="{{ getPosterTextId() }}" targetType="Text" actionType="askPrecision" class="btn btn-default">{{
      getMakeBetterLabel() | translate }}
    </button>
    <button type="button" ng-show=" moreQuestionsCanBeShown() === false && moreRefreshesAvailable()"
            ng-click="refresh()" targetId="{{ getPosterTextId() }}" targetType="Text" actionType="refresh" class="btn btn-default" translate>Dernières tentatives
    </button>
    <button type="button" ng-show="moreQuestionsCanBeShown() === false && moreRefreshesAvailable() == false"
            ng-click="showInviteFriend()" targetId="{{ getPosterTextId() }}" targetType="Text" actionType="noMore" class="btn btn-default" translate>Recommandations personnalisées
    </button>
  </div>
</div>
