<!-- TextDetail view: will be shown here when a text is selected : both views will be active at the same time-->
<ui-view></ui-view>

<div ng-show="getCurrentTextId() == undefined" action-location="Dashboard" style="margin-left: 10px; margin-right: 10px;">

  <!--Facebook target pixel-->
  <div ng-if="isConnected" class="fb_pixel_LoginFb"></div>

  <div class="row">
    <!--Title-->
    <div class="col-xs-2">
      <ul class="pager bmwQuestionButton" style="margin-top: 5px;  margin-bottom: 25px;">
        <li ng-class='{selectionne: false}'>
          <a  ng-href="" historyback  role="button" targetId="Back"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-8 text-center" style="margin-top: 0px; margin-bottom: 0px; text-align: center">
      <h3 style="margin-bottom: 5px; margin-top: 5px;"><span translate>Opportunités du jour</span></h3>
      <small class="text-info brand" style="margin-top: 0px; font-size: 120%;">{{ displayDate }}</small>
    </div>
    <div class="col-xs-2"></div>
  </div>

  <div class="row">
    <!-- Dashboard content -->
    <div ng-repeat="boardSection in BoardSectionList">
      <div ui-view="boardSectionView"></div>
    </div>
  </div>

  <!-- Show text list in debug mode -->
  <div ng-include="'views/dashboard/posterDebug.html'" style="margin-bottom: 10px;"></div>

  <!-- Facebook connection -->
  <div ng-show="isConnected == false" class="col-xs-12 text-center" style="margin-top: 0px; margin-bottom: 30px">
    <div style="margin-top: 10px" translate>Connectez-vous à facebook pour accéder à l'application !</div>
    <br>
    <button type="button" ng-click="fbLogin()" targetId="fbLogin" targetType="Command" actionType="click"  class="btn btn-default btn-lg" translate>Connexion facebook</button>
  </div>
  <!--&lt;!&ndash; Continue without facebook &ndash;&gt;-->
  <!--<div ng-show="isConnected == false"  style="margin-bottom: 40px; margin-top: 40px;text-align: center; ">-->
    <!--<a class="btn btn-default btn-sm" id="toSubscriptions" ng-href="{{app.appUrlSvc.getFullPath('favoriteRecipients')}}" targetId="favoriteRecipients" translate>Continuer sans facebook</a>-->
    <!--<br>-->
  <!--</div>-->
  <!--&lt;!&ndash; Got to subscriptions &ndash;&gt;-->
  <!--<div ng-show="isConnected == true"  style="margin-top: 35px; margin-bottom: 35px; text-align: center; ">-->
    <!--<a class="btn btn-default" id="toSubscriptionsAnyway" ng-href="{{app.appUrlSvc.getFullPath('favoriteRecipients')}}" targetId="favoriteRecipients" translate>Voir la suite</a>-->
  <!--</div>-->

  <!-- Switch language -->
  <div ng-include="'views/partials/languageBar.html'" style="margin-top: 20px; text-align: center" ></div>

  <!-- Mozart  -->
  <div style="margin-top:25px; margin-bottom: 15px; text-align: center;">
    <img height="120px;" src="./assets/pianoCat.jpg">
  </div>

  <!-- Don't mess with Mozart / C'est Mozart qu'on assassine -->
  <div class="row" style="text-align: center;">
    <div class="col-md-4 col-sm-3 col-xs-1"></div>
    <div class="col-md-4 col-sm-6 col-xs-10">
      <div style="font-size: 80%;" translate>Quand vous oubliez</div>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-1"></div>
  </div>

  <!-- Facebook plugin -->
  <div ng-include="'views/partials/pageLikePlugin.html'" style="margin-top: 20px; text-align: center" ></div>

</div>