<div class="modal-content" action-location="ContextModal">
  <div class="modal-body">
    <div translate style="padding-bottom: 20px;">Contexte</div>
    <button ng-repeat="style in contextStyles.stylesList" ng-if="style.visible" ng-click="setContext(style); $close()" ng-class='{active: userFriend.ufContext == style.name}'
            class="btn btn-small btn-default" style="margin-left: 15px;" targetId="{{ style.name }}" targetType="Command" actionType="click" translate >{{ style.label }}</button>
  </div>
</div>
