<html ng-app='cherryApp' lang="en">
  <head>

    <meta name="fragment" content="!">
    <base href="/">
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta charset="utf-8">
    <title ng-bind-template="{{pageTitle1 | translate}} {{pageTitle2 | translate}} ">Comment dire les choses importantes - Your highway from ideas to words</title>
    <meta name="description" content="Changez-vous la vie, trouvez les mots qui donnent envie - Find the magic words">
    <meta name="google-site-verification" content="Yancq9d1odgL9tS_cPdZuci56Rmh5J30ASqLN4Mk3Wk" />

    <!--Prevent 300 ms delay on Android-->
    <script src="scripts/lib/fastclick.js"></script>
    <script type="application/javascript">
      window.addEventListener('load', function () {
        FastClick.attach(document.body);
      }, false);
    </script>

    <!-- This may be slowing down page activation quite a bit  -->
    <!--<script src="http://api.cvd.io/userevent?ActionLocation=Header&ActionType=Load&AreaId=na&ClientTime=&TargetId=na"></script>-->

    <!--Angular and Bootstrap -->
    <!--<script src="assets/angular/angular.min.js"></script>-->
    <script src="assets/angular/angular.js"></script>
    <script src="assets/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/angular-cookies/angular-cookies.min.js"></script>
    <script src="assets/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="assets/angular-spinkit/build/angular-spinkit.min.js"></script>
    <script src="assets/angular-promise-tracker/promise-tracker.js"></script>
    <script src="assets/angular-promise-tracker/promise-tracker-http-interceptor.js"></script>
    <script src="assets/angular-translate/angular-translate.min.js"></script>

    <!--<script src="scripts/lib/bootstrap-custom/ui-bootstrap-custom-tpls-0.10.0.js"></script>-->
    <script src="scripts/lib/bootstrap-custom/ui-bootstrap-tpls-0.11.0.js"></script>




    <!--Google scripts-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47718196-1', 'commentvousdire.com');
        //ga('require', 'linkid', 'linkid.js'); // improves accuracy. might cause loading delay
        //ga('send', 'pageview'); // done for all pages on $stateChangeSuccess
    </script>

    <!-- WEINRE debuguer-->
    <!--<script src="http://192.168.0.8:8080/target/target-script-min.js"></script>-->

    <!--Reminder : include Respond.js for IE8 support with bootstrap 3.0 -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="./scripts/lib/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->

    <!--CSS -->
    <!-- Is is better to load css before js ? -->
    <link href="assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css">


    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
    <link rel="icon"   type="image/jpg"   href="assets/favicon-bmw-32.jpg">
    <link rel="shortcut icon"  href="assets/favicon-bmw-32.jpg">
  </head>

  <body  id="leCorps">
  <h4 ng-show="false">Comment dire les mots de l'amitié, de l'amour et de tous les jours</h4>
  <h4 ng-show>How to say magic words to your love or your friends</h3>

    <!-- Menu bar -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" ng-init="navCollapsed = true"
         data-ng-controller="NavBarController" action-location="NavBar">
     <div class="container-fluid">

      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="navCollapsed = !navCollapsed"-->
                <!--data-target="#bs-example-navbar-collapse-1">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <a class="navbar-brand hidden-xs" ng-href="/" TargetId="welcome" translate>CommentVousDire</a>
        <a class="navbar-brand glyphicon glyphicon-home visible-xs" ng-href="/" ></a>
        <div class="pull-right visible-xs">
          <!--<a href="" style="margin-right: 4px;" ng-class='{active: getLanguage()=="fr"}' ng-click="changeLanguage('fr')" class="navbar-brand flag flag-icon flag-icon-fr flag-icon-squared"></a>-->
          <!--<a href="" style="margin-right: 4px;" ng-class='{active: getLanguage()=="en"}' ng-click="changeLanguage('en')" class="navbar-brand flag flag-icon flag-icon-uk flag-icon-squared"></a>-->
          <!--<a href="" style="margin-right: 4px;" ng-class='{active: getLanguage()=="es"}'  ng-click="changeLanguage('es')" class="navbar-brand flag flag-icon flag-icon-es flag-icon-squared"></a>-->
          <a href="" style="margin-right: 0px; padding-left: 0px; padding-right: 7px;" ng-class='{active: getLanguage()=="fr"}' ng-click="changeLanguage('fr')" class="navbar-brand ">fr</a>
          <a href="" style="margin-right: 0px; padding-left: 0px; padding-right: 7px;" ng-class='{active: getLanguage()=="en"}' ng-click="changeLanguage('en')" class="navbar-brand ">en</a>
          <a href="" style="margin-right: 0px; padding-left: 0px; padding-right: 7px;" ng-class='{active: getLanguage()=="es"}'  ng-click="changeLanguage('es')" class="navbar-brand">es</a>

          <!-- Envoyer à  -->
          <a ng-href="{{app.appUrlSvc.getFullPath('')}}recipientList" class="navbar-brand glyphicon glyphicon-user" translate></a>
          <!-- Penser à  -->
          <a ng-href="{{app.appUrlSvc.getFullPath('')}}favoriteRecipients" class = "navbar-brand glyphicon glyphicon-bell" translate></a>
          <!-- Tous les textes  -->
          <a ng-href="{{app.appUrlSvc.getFullPath('')}}area/General/intention" ng-show="false" class ="navbar-brand glyphicon glyphicon-search" translate></a>
          <!-- Favoris  -->
          <!--<a ng-show = "hasFavourite()" ng-href="{{app.appUrlSvc.getFullPath('')}}favouriteTexts" class="navbar-brand glyphicon glyphicon-star"></a>-->
          <!-- Mon profil  -->
          <a ng-href="{{app.appUrlSvc.getFullPath('')}}userprofile" class ="navbar-brand glyphicon glyphicon-cog" translate></a>
          <a  class="navbar-brand" ng-href="{{app.appUrlSvc.getFullPath('')}}about" translate>?</a>
        </div>
      </div>

      <div class="collapse navbar-collapse hidden-xs"  ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      <!--<div data-no-collapse="true" >-->

        <ul class="nav navbar-nav pull-right">
          <!--<li style="margin-right: 12px;" ng-class='{active: getLanguage()=="fr"}' ng-click="changeLanguage('fr')"><a href="" class="flag flag-icon flag-icon-fr flag-icon-squared"></a></li>-->
          <!--<li style="margin-right: 12px;" ng-class='{active: getLanguage()=="en"}' ng-click="changeLanguage('en')"><a href="" class="flag flag-icon flag-icon-uk flag-icon-squared"></a></li>-->
          <!--<li style="margin-right: 12px;" ng-class='{active: getLanguage()=="es"}' ng-click="changeLanguage('es')"><a href="" class="flag flag-icon flag-icon-es flag-icon-squared"></a></li>-->
          <li style="margin-right: 12px;" ng-class='{active: getLanguage()=="fr"}' ng-click="changeLanguage('fr')" ><a href="" >fr</a></li>
          <li style="margin-right: 12px;" ng-class='{active: getLanguage()=="en"}' ng-click="changeLanguage('en')"><a href="" >en</a></li>
          <li style="margin-right: 12px;" ng-class='{active: getLanguage()=="es"}' ng-click="changeLanguage('es')"><a href="" >es</a></li>

          <!-- Envoyer à  -->
          <li class="active"><a ng-href="{{app.appUrlSvc.getFullPath('')}}recipientList" class = "glyphicon glyphicon-user" translate></a></li>
          <!-- Penser à  -->
          <li class="active"><a ng-href="{{app.appUrlSvc.getFullPath('')}}favoriteRecipients" class = "glyphicon glyphicon-bell" translate></a></li>
          <!-- Tous les textes  -->
          <li class="active"><a ng-href="{{app.appUrlSvc.getFullPath('')}}area/General/recipient/none/intention" class ="glyphicon glyphicon-search" translate></a></li>
          <!-- Favoris  -->
          <!--<li class="active" ng-show = "hasFavourite()"><a ng-href="{{app.appUrlSvc.getFullPath('')}}favouriteTexts" class="glyphicon glyphicon-star"></a></li>-->
          <!-- Mon profil  -->
          <li class="active"><a ng-href="{{app.appUrlSvc.getFullPath('')}}userprofile" class ="glyphicon glyphicon-cog" translate></a></li>
          <li class="active"><a ng-href="{{app.appUrlSvc.getFullPath('')}}about" translate>A propos</a></li>
        </ul>
      </div>
     </div>  <!--container-fluid-->
    </nav>

    <!-- Container -->
    <div data-ng-controller="CherryController" class="container">

      <!-- Tabs -->
      <div ng-controller="TabController">
        <div class="tabBar" ng-show="showTabs" action-location="Tabs">
          <ul id="myTab" class="nav nav-pills ">
            <li ng-class="{active: currentAreaName() == tab.name}" ng-repeat="tab in tabs">
              <a ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{tab.name}}/recipient/none/intention" translate> {{tab.label}} </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Spinner -->
      <div ng-show="showSpinner || trackerIsActive()" style="position:fixed;top:-20px;left:300px; z-index:3;"><circle-spinner></circle-spinner></div>

      <!--<div ng-show="true" style="position:fixed; background-color: #ffffff;  text-align:center; margin-left: -160px;    left: 50%; ; width: 20px; bottom:12px; z-index:5">-->
        <!--<span class="badge">42</span>-->
      <!--</div>-->

      <!-- Views -->
      <div ui-view></div>

    </div>

    <!-- inject:js -->
    <script src="scripts/build.js"></script>
    <!-- endinject -->

  </body>
</html>





