<!DOCTYPE html>
<html lang="en">
    <head>

        <script src="http://api.cvd.io/userevent?ActionType=Load&ActionLocation=Header"></script>

        <base href="/">
        <!--To display correctly  on Windows Phone 8. Must precede other scripts -->
        <!--Angular and Bootstrap -->
        <!--<script src="http://code.jquery.com/jquery.min.js"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!--<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>

        <!--Reminder : include Respond.js for IE8 support with bootstrap 3.0 -->

        <!-- ui-bootstrap takes time to load and does not work the way we want for tabs at this stage -->
        <!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>-->

        <!--Prevent 300 ms delay on Android, does not seem to make a difference, verify initialisation -->
        <!--<script src="scripts/lib/fastclick.js"></script>-->
        <!--<script type="application/javascript">-->
        <!--window.addEventListener('load', function () {-->
        <!--FastClick.attach(document.body);-->
        <!--}, false);-->
        <!--</script>-->

        <!--CSS -->
        <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">


        <link rel="stylesheet" href="assets/app.css">

        <meta charset="utf-8">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>Comment vous dire</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

        <meta name="description" content="Les mots sur le bout de la langue. L'inspiration au bout des doigts.">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="./scripts/lib/html5shiv.js"></script>
        <![endif]-->
  
        <!-- Fav and touch icons -->
        <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
        <link rel="icon"   type="image/jpg"   href="assets/favicon-bmw-32.jpg">
        <link rel="shortcut icon"  href="assets/favicon-bmw-32.jpg">
    </head>

<body ng-app='cherryApp' id="leCorps">

<!-- Menu bar -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" data-ng-controller="NavBarController" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-click = "PostBox.gulp('Navigation','SplashScreen','NavBar')">CommentVousDire</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/userprofile"  ng-click = "PostBox.gulp('Navigation','ProfileScreen','NavBar')" >Votre profil</a></li>
            <li class="active"><a href="#/about" ng-click = "PostBox.gulp('Navigation','AboutScreen','NavBar')">A propos</a></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Link</a></li>-->
        <!--</ul>-->
    </div><!-- /.navbar-collapse -->
</nav>


 <div data-ng-controller="CherryControler" class="container">

    <!--TABS -->
     <div class = "tabBar"  ng-show="Tabs.showTabs">
         <!--<ul id="myTab" class="nav nav-tabs "> -->
         <ul id="myTab" class="nav nav-pills ">
         <li ng-class ='{active: Tabs.currentTabName == 'quotidien'}'>
                 <a href="area/DayToDay/intention" ng-click = "PostBox.gulp('Area','DayToDay','Tabs')" >Quotidien</a></li>
             <li ng-class ='{active: Tabs.currentTabName == 'sentimental'}'>
                 <a href="area/Sentimental/intention" ng-click = "PostBox.gulp('Area','Sentimental','Tabs')"> Sentimental </a></li>
             <li ng-class ='{active: Tabs.currentTabName == 'special'}'>
                 <a href="area/Important/intention" ng-click = "PostBox.gulp('Area','Important','Tabs')"> Spécial</a></li>
         </ul>
     </div> <!-- TABS -->

     <div class = "tabBarReplacement" ng-show="!Tabs.showTabs">
     </div>

    <div ng-view>
   </div>
   <!--<script type="text/ng-template" id="home.html">-->
   <!--</script>-->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabell">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


   <!-- DIALOG for advanced filter selection -->
    <!--<div id="modalFiltres" data-ng-controller="FilterDialogController" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <div class="modal fade" data-ng-controller="FilterDialogController"  id="modalFiltres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

     <!--<div class="modal-header" ng-show ="false">-->
       <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
       <!--<h3 id="myModalLabel">Filtrer</h3>-->
     <!--</div>-->
     <!-- advanced filters dialog Body -->
        <!-- New Bootstrap 3.0.3  -->
     <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-body">

               <h4>Styles à privilégier</h4>
                <div >
                     <label class="checkbox-inline">
                         <input type="checkbox"  ng-model="humorousPrefered" ng-click="TogglePreferedStyle('humorous','humorousPrefered')"  > Humoristique
                     </label>
                     <label class="checkbox-inline">
                         <input type="checkbox"  ng-model="imaginativePrefered"  ng-click="TogglePreferedStyle('imaginative','imaginativePrefered')"> Imaginatif
                     </label>
                     <label class="checkbox-inline">
                         <input type="checkbox"  ng-model="eccentricPrefered" ng-click="TogglePreferedStyle('eccentric','eccentricPrefered')" > Décalé
                     </label>
                     <label class="checkbox-inline">
                         <input type="checkbox"  ng-model="poeticPrefered" ng-click="TogglePreferedStyle('poetic','poeticPrefered')"> Poétique
                     </label>
                     <label class="checkbox-inline">
                         <input type="checkbox"  ng-model="citationPrefered" ng-click="TogglePreferedStyle('citation','citationPrefered')" > Avec citation
                     </label>
                     <!--<label class="checkbox inline">-->
                         <!--<input type="checkbox"  ng-model="simplePrefered" ng-click="TogglePreferedStyle('simple','simplePrefered')"> Tout simples-->
                     <!--</label>-->
                </div>

                 <div ng-show="shouldDisplayContextFilters()">
                     <br>
                     <h4 ng-show="shouldDisplayContextFilters()">Contextes applicables</h4>
                     <label class="checkbox-inline" ng-show="shouldDisplayContextFilters() && shouldDisplayThisContextFilter('friendlyContext')">
                        <input type="checkbox" ng-model="ContextFilters.friendly" ng-click="ToggleIncludeContext('friendlyContext','friendly')" > Amical
                     </label>
                     <label class="checkbox-inline" ng-show="shouldDisplayContextFilters() && shouldDisplayThisContextFilter('romanticContext')">
                         <input type="checkbox" ng-model="ContextFilters.inLove" ng-click="ToggleIncludeContext('romanticContext','inLove')" > Amoureux
                     </label>
                     <label class="checkbox-inline" ng-show="shouldDisplayContextFilters() && shouldDisplayThisContextFilter('familialContext')">
                         <input type="checkbox" ng-model="ContextFilters.familial"  ng-click="ToggleIncludeContext('familialContext','familial')"  > Familial
                     </label>
                     <label class="checkbox-inline" ng-show="shouldDisplayContextFilters() && shouldDisplayThisContextFilter('professionalContext')">
                         <input type="checkbox" ng-model="ContextFilters.professional" ng-click="ToggleIncludeContext('professionalContext','professional')"   > Professionnel
                     </label>
                     <label class="checkbox-inline" ng-show="shouldDisplayContextFilters() && shouldDisplayThisContextFilter('administrativeContext')">
                         <input type="checkbox" ng-model="ContextFilters.administrative" ng-click="ToggleIncludeContext('administrativeContext','administrative')" > Administratif
                     </label>
                 </div>

             </div>  <!-- advanced filters dialog body -->

             <!-- advanced filters dialog footer -->
             <div class="modal-footer">
                 <span class="pull-left" ng-show="displayNbFilteredTexts()">{{ nbFilteredTexts() }} {{ nbTextLabel() }}</span>
               <button class="btn btn-small btn-primary" data-dismiss="modal" ng-click = "PostBox.gulp('Command','Close','FilterDialog')"  >Fermer</button>
             </div><!-- advanced filters dialog footer  -->

         </div>
     </div>

    </div>  <!-- DIALOG for advanced filter selection -->



   <!-- DIALOG that displays the text to be sent -->
    <div class="modal fade" ng-controller="SelectedTextController" id="modalEnvoiTexte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalLabelTitle">Envoyer</h4>
                </div>
                <div id="modalMessageBody" class="modal-body">
                    <!-- Facebook add tracking -->
                    <div class="fb_pixel_send"></div>
                    <!-- TextArea -->
                    <div class="modal-body canBeClipboarded">
                        <!--focus-me="Modal.modalIsOpened"-->
                        <textarea
                                ng-model= "textToSend"
                                id="currentText" style="width:100%;" rows="8">
                                style="width:100%;"
                                rows="9"

                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Share/Send buttons -->
                    <a class="btn btn-primary " ng-href="{{urlMailTo()}}"  ng-click = "mail()"  >Mail</a>
                    <button ng-hide="isIPhone()" class="btn btn-warning " ng-click="sms()">SMS</button>
                    <button class="btn btn-warning "  ng-show="check()" ng-click="tweet()">Tweet</button>
                    <button id="popoverCopier" class="btn " data-toggle="popover" data-placement="top" ng-click="copy()"
                    title="Copier un texte">Copier</button>
                    <button class="btn" data-dismiss="modal" ng-click="fermer()">Fermer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



   </div> <!-- /container -->


<!-- OLD CODE -->

<!-- OLD DIALOG for context filters -->
<!--<div id="modalContextFilters" data-ng-controller="ContextFiltersDialogController" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

    <!--<div class="modal-header" ng-show ="true">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <!--<h4 id="myContextModalLabel">Se limiter au contexte</h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--&lt;!&ndash;<h4>Eviter les textes</h4>&ndash;&gt;-->
        <!--<label class="checkbox inline">-->
            <!--<input type="checkbox" ng-model="ContextFilters.inLove" ng-click="ToggleIncludeContext('romanticContext','inLove')" > Sentimental-->
        <!--</label>-->
        <!--<label class="checkbox inline">-->
            <!--<input type="checkbox" ng-model="ContextFilters.friendly" ng-click="ToggleIncludeContext('friendlyContext','friendly')" > Amical-->
        <!--</label>-->
        <!--<label class="checkbox inline">-->
            <!--<input type="checkbox" ng-model="ContextFilters.familial"  ng-click="ToggleIncludeContext('familialContext','familial')"  > Familial-->
        <!--</label>-->
        <!--<label class="checkbox inline">-->
            <!--<input type="checkbox" ng-model="ContextFilters.professional" ng-click="ToggleIncludeContext('professionalContext','professional')"   > Professionnel-->
        <!--</label>-->
        <!--<label class="checkbox inline">-->
            <!--<input type="checkbox" ng-model="ContextFilters.administrative" ng-click="ToggleIncludeContext('administrativeContext','administrative')" > Administratif-->
        <!--</label>-->
        <!--&lt;!&ndash;<label class="checkbox inline">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" ng-model="ContextFilters.couple"  ng-click="ToggleIncludeContext('coupleContext','couple')" > Vie de couple&ndash;&gt;-->
        <!--&lt;!&ndash;</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="checkbox inline">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" ng-model="ContextFilters.dating" ng-click="ToggleIncludeContext('datingContext','dating')" > Rencontre&ndash;&gt;-->
        <!--&lt;!&ndash;</label>&ndash;&gt;-->
    <!--</div>  &lt;!&ndash; context filters dialog body &ndash;&gt;-->

    <!--&lt;!&ndash; context filters dialog footer &ndash;&gt;-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-small btn-primary" data-dismiss="modal">Fermer</button>-->
    <!--</div>&lt;!&ndash; context filters dialog footer  &ndash;&gt;-->

<!--</div>  &lt;!&ndash; OLD DIALOG for context filters &ndash;&gt;-->

<!--<div class="modal fade" id="modalEnvoiTexteB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

<!--&lt;!&ndash; Header &ndash;&gt;-->
<!--<div class="modal-header">-->
<!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="fermer()"  >×</button>&ndash;&gt;-->
<!--&lt;!&ndash;<h3 id="H1">Envoyer</h3>&ndash;&gt;-->
<!--Envoyer-->
<!--</div>-->

<!--&lt;!&ndash; TextArea &ndash;&gt;-->
<!--<div class="modal-body canBeClipboarded">-->
<!--&lt;!&ndash;focus-me="Modal.modalIsOpened"&ndash;&gt;-->
<!--<textarea-->
<!--ng-model= "textToSend"-->
<!--id="currentText" style="width:95%;" rows="9">-->
<!--</textarea>-->
<!--</div>-->
<!--&lt;!&ndash; Facebook add tracking &ndash;&gt;-->
<!--<div class="fb_pixel_send"></div>-->
<!--&lt;!&ndash; Share/Send buttons &ndash;&gt;-->
<!--<div class="modal-footer">-->
<!--<a class="btn btn-primary " ng-href="{{urlMailTo()}}"  ng-click = "mail()"  >Mail</a>-->
<!--&lt;!&ndash;<a class="btn btn-primary " ng-href="{{urlMailToVar}}">Mail</a>&ndash;&gt;-->

<!--<button ng-hide="isIPhone()" class="btn btn-warning " ng-click="sms()">SMS</button>-->
<!--<button class="btn btn-warning "  ng-show="check()" ng-click="tweet()">Tweet</button>-->
<!--<button id="popoverCopier" class="btn " data-toggle="popover" data-placement="top" ng-click="copy()"-->
<!--title="Copier un texte">Copier</button>-->
<!--<button class="btn" data-dismiss="modal" ng-click="fermer()">Fermer</button>-->
<!--</div> &lt;!&ndash; Fin Modal footer actions  &ndash;&gt;-->

<!--</div> &lt;!&ndash; DIALOG  that displays the text to be sent &ndash;&gt;-->

<!--&lt;!&ndash; Add sender's name or initials &ndash;&gt;-->
<!--<div class="modal-footer" ng-hide ="isIPhone() || true">-->
<!--<button class="btn btn-mini btn-inverse"    -->
<!--ng-click="libelleTexteCourant = libelleTexteCourant+'\r'+nomPersoUtilisateur ">+signature</button>                        -->
<!--<input type="text" placeholder="votre prénom..." ng-model="nomPersoUtilisateur" -->
<!--id = "prenomDansFooterMessage" class = "nomDansFooterMessage">-->
<!--<button class="btn btn-mini btn-inverse ng-show=false"    -->
<!--ng-click="libelleTexteCourant = libelleTexteCourant+'\r'+nomProUtilisateur ">+nom</button>                        -->
<!--<input type="text" placeholder="nom complet..." ng-model="nomProUtilisateur" -->
<!--id = "nomCompletDansFooterMessage" class = "nomDansFooterMessage" ng-show=false>-->
<!--</div>  &lt;!&ndash; Modal footer signature  &ndash;&gt;-->

<!-- Add salutations : OLD -->
<!--<div class="modal-footer" ng-show="false">-->
<!--<i class="icon-arrow-up  pull-left"></i>-->
<!--<button class="btn btn-mini btn-inverse pull-left"-->
<!--ng-click="ajouterFormuleAvant('Bonjour')">Bonjour</button>-->
<!--<i class="icon-arrow-down"></i>-->
<!--<button class="btn btn-mini btn-inverse "-->
<!--ng-click="ajouterFormuleApres('');ajouterFormuleApres('Cordialement,')">Cordia...</button>-->
<!--<button class="btn btn-mini btn-inverse pull"-->
<!--ng-click="ajouterFormuleApres('');ajouterFormuleApres('A bientôt,')">A bient</button>-->
<!--<button class="btn btn-mini btn-inverse"-->
<!--ng-click="ajouterFormuleApres('');ajouterFormuleApres('Bises,')">Bises</button>-->
<!--</div>  &lt;!&ndash; Fin Modal footer formule avant-après  &ndash;&gt;-->


<!-- inject:js -->
<!--<script src="scripts/build.js"></script>-->
<!-- endinject -->
<script src="scripts/app.js" type="text/javascript"></script>
<script src="scripts/filters.js" type="text/javascript"></script>
<script src="scripts/routing.js" type="text/javascript"></script>
<script src="scripts/directives.js" type="text/javascript"></script>

<script src="scripts/services/RecepientListSvc.js"></script>
<script src="scripts/services/IntentionListSvc.js"></script>
<script src="scripts/services/TextListSvc.js"></script>
<script src="scripts/services/TextFiltersSvc.js"></script>
<script src="scripts/services/HelperSvc.js"></script>
<script src="scripts/services/SelectedTextSvc.js"></script>
<script src="scripts/services/SelectedIntentionSvc.js"></script>
<script src="scripts/services/AppUrlSvc.js"></script>
<script src="scripts/services/UserProfileSvc.js"></script>
<script src="scripts/services/SingleIntentionQuerySvc.js"></script>
<script src="scripts/services/PostActionSvc.js"></script>
<script src="scripts/services/AppLabels.js"></script>
<script src="scripts/services/SelectedArea.js"></script>
<script src="scripts/services/TextFilterHelperSvc.js"></script>
<script src="scripts/services/FilterVisibilityHelperSvc.js"></script>

<script src="scripts/controllers/TextFiltersController.js"></script>
<script src="scripts/controllers/SelectedTextController.js"></script>
<script src="scripts/controllers/NewIntentionListController.js"></script>
<script src="scripts/controllers/TextListController.js"></script>
<script src="scripts/controllers/RecipientListController.js"></script>
<script src="scripts/controllers/AboutTheAppController.js"></script>
<script src="scripts/controllers/SplashScreenController.js"></script>
<script src="scripts/controllers/TextDetailController.js"></script>
<script src="scripts/controllers/NotImplementedController.js"></script>
<script src="scripts/controllers/UserProfileController.js"></script>
<script src="scripts/controllers/FilterDialogController.js"></script>
<script src="scripts/controllers/ContextFiltersDialogController.js"></script>

<script src="scripts/controllers/NavBarController.js"></script>


<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

<!--<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>-->

</body>
</html>





