<div action-location="About">
  <!--<h4>{{ 'A propos' | translate }}</h4>-->
  <h4 translate>A propos</h4>


  <!--<h1>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-fr flag-icon-squared"></span></span>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-uk flag-icon-squared"></span></span>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-es flag-icon-squared"></span></span>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-de flag-icon-squared"></span></span>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-cn flag-icon-squared"></span></span>-->
  <!--</h1>-->

  <!--<h1>-->
    <!--<a href=""><span class=" flag flag-icon flag-icon-fr flag-icon-squared"></span></a>-->
    <!--<a href=""><span class=" flag flag-icon flag-icon-uk flag-icon-squared"></span></a>-->
    <!--<a href=""><span class=" flag flag-icon flag-icon-es flag-icon-squared"></span></a>-->
  <!--</h1>-->

  <!--<p>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-de flag-icon-squared"></span></span>-->
    <!--<span class="label"><span class=" flag flag-icon flag-icon-cn flag-icon-squared"></span></span>-->
    <!--<span class="label label-default"><span class="flag-icon flag-icon-fr"></span> FR</span>-->
  <!--</p>-->

  <!--<p class="lead">-->
    <!--p.lead-->
    <!--<span class="flag-icon flag-icon-fr"></span>-->
    <!--<span class="flag-icon flag-icon-squared flag-icon-fr"></span>-->
  <!--</p>-->
  
  <br/>
  <blockquote>
    <div translate>Vous voulez dire</div>
    <br/>
    <div translate>Il nous manque souvent</div>
    <br/>
    <div><span translate>Avec</span>&nbsp<span class="brandColoured" translate>CommentVousDire</span>,&nbsp<span translate>faites émerger</span>.</div>
    <br/>
    <small><span translate>Suggestions et questions</span>&nbsp: <cite title="Envoyez aussi vos propositions de textes" translate>idees@commentvousdire.com</cite>
    </small>
  </blockquote>
  <div>
    <ul class="pager bmwQuestionButton pull-left" style="padding-top: 10px;">
      <li ng-class='{selectionne: false}'>
        <a href="" role="button" historyback class="pull-left" targetId="Back"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
      </li>
    </ul>
    <div class="btn-group pull-right" style="margin-right: 20px">
      <button type="button" class="btn btn-default" ng-class='{"btn-primary": getLanguage()=="fr"}' ng-click="changeLanguage('fr')"><img src="/assets/FlagFrance.png"></button>
      <button type="button" class="btn btn-default" ng-class='{"btn-primary": getLanguage()=="en"}' ng-click="changeLanguage('en')"><img src="/assets/FlagUK.png"></button>
      <button type="button" class="btn btn-default" ng-class='{"btn-primary": getLanguage()=="es"}' ng-click="changeLanguage('es')"><img src="/assets/FlagSpain.png"></button>
    </div>
  </div>
</div>
