<div>

  <div class="row">
    <div class="col-xs-12 text-center" style="margin-top: 0px; margin-bottom: 0px">
      <h3><span translate>Opportunités du jour</span></h3>
      <h4 class="text-info">{{ displayDate }}</h4>
    </div>

    <div ng-show="isConnected == false" class="col-xs-12 text-center" style="margin-top: 20px; margin-bottom: 20px">
      <button type="button" ng-click="fbLogin()"  class="btn btn-primary btn-lg">Login facebook</button>
      <br>
      <div style="margin-top: 10px">Pour accéder aux anniversaires de vos friends</div>
    </div>
    <div ng-show="isConnected == true" class="col-xs-12 text-center bg-info" style="margin-top: 10px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;" translate>
      Anniversaires
    </div>

    <div ng-repeat="friend in apiNextBirthdayFriends" class="col-xs-6 col-sm-3 text-center" style="margin-top: 10px; margin-top: 30px;">
      <div>{{friend.name }}</div>
      <div class="text-info">
        <span ng-show="fbBirthdayHasDayAndMonth(friend.birthday)">{{fbBirthdayToDisplay(friend.birthday)}}</span>
        <span ng-show="fbBirthdayHasDayAndMonth(friend.birthday) && fbBirthdayHasYear(friend.birthday)"> - </span>
        <span ng-show="fbBirthdayHasYear(friend.birthday)">{{fbAgeToDisplay(friend.birthday)}}</span>
        <span ng-show="fbBirthdayHasYear(friend.birthday)"> </span>
        <span ng-show="fbBirthdayHasYear(friend.birthday)" translate>ans</span>
      </div>
      <button type="button" ng-click="setCurrentFriend(friend)"  class="btn btn-primary btn-sm">Select</button>
    </div>
  </div>

  <div style="margin-top: 30px">Current friend : {{ currentFriend.name }}</div>

  <div style="margin-top: 5px">Friend context :
    <!-- btn-group-vertical or btn-group-justified options-->
    <div class="btn-group btn-group-sm">
      <button type="button" class ="btn btn-default" translate
              ng-repeat="style in contextStyles.stylesList"
              ng-if="style.visible"
              ng-class="{active: isCurrentContextStyle(style)}"
              ng-click="setContextFilterToThis(style)">
        {{ style.label }}
      </button>
    </div>
  </div>

  <div style="margin-top: 5px">Friend recipient type :
    <!-- btn-group-vertical or btn-group-justified options-->
    <div class="btn-group btn-group-sm">
      <button type="button" class ="btn btn-default" translate
              ng-repeat="recipientType in recipients"
              ng-if=" true || style.visible"
              ng-class="{active: isCurrentRecipient(recipientStyle)}"
              ng-click="setRecipientTypeToThis(recipientType)">
        {{ recipientType.LocalLabel }}
      </button>
    </div>
  </div>


  <div style="margin-top: 5px">
    <span>Filtered list : {{ filteredMessageList.length }} textes</span>
     ...
    <span>Full list : {{ textList.length }} textes</span>
  </div>

  <div class="text-center bg-info" style="margin-top: 10px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;">
    <div>Filtered list : {{ filteredMessageList.length }} textes</div>
  </div>
  <div class="listeTextes" ng-show="true">
    <div ng-repeat="txt in filteredMessageList">
      <div cvd-text="txt" ng-class="{active: txt.TextId == selectedTextId}" style="white-space: pre-wrap"></div>
    </div>
  </div>

  <div class="text-center bg-info" style="margin-top: 10px; margin-bottom: 0px; padding-top: 30px; padding-bottom: 30px;">
    <div>Full list : {{ textList.length }} textes</div>
  </div>
  <div class="listeTextes" ng-show="true">
    <div ng-repeat="txt in textList">
      <div cvd-text="txt" ng-class="{active: txt.TextId == selectedTextId}" style="white-space: pre-wrap"></div>
    </div>
  </div>


</div>
