<div>

  <div class="row">
    <div class="col-xs-12 text-center" style="margin-top: 0px; margin-bottom: 0px">
      <h2 translate>Suggestions du jour</h2>
    </div>

    <div ng-show="isConnected == false" class="col-xs-12 text-center" style="margin-top: 20px; margin-bottom: 20px">
      <button type="button" ng-click="fbLogin()"  class="btn btn-primary btn-lg">Login facebook</button>
      <br>
      <div style="margin-top: 10px">Pour accéder aux anniversaires de vos friends</div>
    </div>
    <div ng-show="isConnected == true" class="col-xs-12 text-center bg-info" style="margin-top: 20px; margin-bottom: 20px">
      Anniversaires
    </div>

    <div ng-repeat="friend in apiNextBirthdayFriends" class="col-xs-6 col-sm-3 text-center" style="margin-top: 10px; margin-top: 30px;">
      <div>{{friend.name }}</div>
      <div>{{friend.birthday }}</div>
    </div>

  </div>

</div>
