<h3 translate>Favoris</h3>
<!--<button translate ng-click="predicate='favouriteDate'; reverse = !reverse" class="btn btn-primary">Trier par date</button>-->
<!--<button translate ng-click="predicate='favouriteIntention'; reverse = !reverse" class="btn btn-primary">Trier par catégorie</button>-->
<ul ng-init="predicate='favouriteIntention'" class="list-unstyled" style="margin-top: 20px;">
  <li ng-repeat="intention in favourites">
    <h4 translate ng-if="intention.items.length > 0 && predicate === 'favouriteIntention'">{{intention.id}}</h4>
    <ul class="list-unstyled" style="margin-top: 20px;">
      <li ng-repeat="item in intention.items | orderBy:predicate:reverse" class="well well-small bmw-texte" ng-if="!!item.favouriteText">
        <a href="/area/{{item.favouriteArea}}/intention/{{item.IntentionId}}/recipient/{{item.RecipientId}}/text/{{item.TextId}}">{{item.favouriteText}}</a>
        <remove-item on-remove="removeFavourite(item)"></remove-item>
      </li>
    </ul>
  </li>
</ul>