<h4>My Favourites</h4>
<button ng-click="predicate='favouriteDate'; reverse = !reverse">Sort by date</button>
<button ng-click="predicate=['favouriteIntention', 'favouriteDate']; reverse = !reverse">Sort by intention</button>
<ul>
	<li ng-repeat="favourite in favourites | orderBy:predicate:reverse">
		<p>Intention: {{favourite.favouriteIntention}}</p>
		<p>Content: {{favourite.favouriteText}}</p>
		<small>{{favourite.favouriteDate | date: 'd MMMM yyyy - HH:mm'}}</small>
		<a href="/area/{{favourite.favouriteArea}}/intention/{{favourite.intentionId}}/recipient//text/{{favourite.textId}}">Go to text</a>
	</li>
</ul>