<div style="text-align: center;" action-location="FavoriteRecipients">

  <div ng-include="'views/partials/userGenderImage.html'" style="margin-bottom: 30px; text-align: center" ></div>

  <!-- User gender -->
  <div style="margin-top: 0px; margin-bottom: 10px;margin-left: 10px; margin-right: 10px; " >
    <h3 class="splashTitle" style="font-size: 140%; margin-bottom: 0px; "  translate>Je suis</h3>
    <ul style="margin-top: 20px; margin-bottom: 0px;" class="pager bmwQuestionButton" >
      <li ng-class = '{selectionne: currentUser.gender=="H"}'>
        <a  targetType="Command" targetId="SenderGender" translate  ng-click = 'currentUser.gender = "H"'>Un homme</a></li>
      <li ng-class = '{selectionne: currentUser.gender=="F"}'>
        <a  targetType="Command" targetId="SenderGender" translate ng-click = "currentUser.gender = 'F'">Une femme</a></li>
      <br><br>
      <li ng-class = '{selectionne: isConnectedToFacebook()}'>
        <a  targetType="Command" targetId="FacebookConnection" translate ng-click = "connectToFacebook()">Un utilisateur Facebook :-)</a></li>
    </ul>
  </div>

  <!--<button type="button" ng-click="login()"  ng-hide="false ||isLoggedIn" class="btn btn-default navbar-btn">Login</button>-->

  <!-- Favorite recipient types -->
  <div class="row" style="margin-top: 0px; margin-bottom: 30px;margin-left: 10px; margin-right: 10px; " >
    <h3 class="splashTitle" style="font-size: 140%; margin-bottom: 0px;" translate>Avec qui...</h3>
  </div>

  <div class = "listeTypeDestinataire" >
    <div class="row" ng-repeat="qui in recipients" ng-show="qui.subscribableRecipient == true" style="vertical-align: middle; margin-bottom: 10px;">
      <div class="col-xs-6 col-sm-5" translate style="text-align: right">{{ qui.LocalLabel }}</div>
      <div class="col-xs-6 col-sm-5">
        <ul class="pager bmwQuestionButton" style="margin-bottom: 10px;">
          <li style="margin-right: 5px;" ng-class = '{selectionne: getState(qui.Id)}'>
            <a translate targetType="Command" targetId="{{qui.Id}}" targetParameters="true" ng-click = "setSubscriptionState(qui.Id,true)">Oui</a></li>

          <li ng-class = '{selectionne: !getState(qui.Id)}'>
            <a translate targetType="Command" targetId="{{qui.Id}}" targetParameters="false" ng-click = "setSubscriptionState(qui.Id,false)">Non</a></li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

  <!--Previous step -->
  <ul class="pager bmwQuestionButton pull-left" >
      <li ng-class= '{selectionne: false}' >
        <a ng-show = "true || appUrlSvc.getUserHasBeenOnSplashScreen()==false" ng-href="{{app.appUrlSvc.getFullPath('')}}" role="button"  targetId="Previous"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
      </li>
  </ul>

  <!-- Next step -->
  <ul class="pager bmwQuestionButton" ng-show="hasSubscribedRecipients()">
       <li ng-class= '{selectionne: false}'>
          <a ng-href="{{app.appUrlSvc.getFullPath('subscriptions')}}" role="button" class="pull-right" targetId="Next"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
       </li>
   </ul>
</div>
