<div ng-show="true" style="text-align: center;" action-location="FavoriteRecipients">
    <div class="row" style="margin-top: 0px; margin-bottom: 30px;margin-left: 10px; margin-right: 10px; " >
      <h3 class="splashTitle" style="font-size: 140%; margin-bottom: 0px;" translate>Avec qui...</h3>
      <span translate>(cliquez les destinataires applicables)</span>
    </div>

    <div class = "listeTypeDestinataire" >
        <div class="row" ng-repeat="qui in recipients" ng-show="qui.subscribableRecipient == true" style="vertical-align: middle; margin-bottom: 20px ">
            <div class="col-xs-1"></div>
            <div class="col-xs-5" translate style="text-align: right">{{ qui.LocalLabel }}</div>
            <div class="col-xs-2"><toggle-switch state="getState(qui.Id)" switchh="switchState(qui.Id) "></toggle-switch></div>
            <div class="col-xs-4"></div>
         </div>
     </div>

    <ul class="pager bmwQuestionButton pull-left" >
        <li ng-class= '{selectionne: false}' >
          <!--<a ng-href="{{app.appUrlSvc.getFullPath('')}}" role="button"  targetId="Previous"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>-->
          <a ng-href="{{app.appUrlSvc.getFullPath('')}}area/General/dashboard" role="button"  targetId="Previous"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>

          <!--<a ng-href="" historyback role="button"  targetId="Previous"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>-->
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show="hasSubscribedRecipients()">
        <li ng-class= '{selectionne: false}'>
            <!--<a href="/subscriptions" role="button" class="pull-right" targetId="Next"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>-->
          <a ng-href="{{app.appUrlSvc.getFullPath('subscriptions')}}" role="button" class="pull-right" targetId="Next"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
        </li>
    </ul>
</div>
