<!--TEMPLATE to display a list of Intentions -->
<div ng-show="true" action-location="IntentionList">
    <!-- Page title -->
    <!--<h3 id="titrePage">{{ pageTitle }}</h3>-->
    <!--<h4 class="intentionTitle">{{ pageTitle }}</h4>-->
    <h3 class="intentionTitle">{{ pageTitle }}</h3>
    <!-- Intentions list as rows and columns -->
    <!--<div class="row-fluid" ng-repeat="lineNumber in getLineNumbers(3)">-->
        <!--<div ng-repeat="intentionObject in getLineElementsForLineNumber($index,3)" class="span4">-->
    <div class="row" ng-repeat="row in groupedIntentions">
        <div ng-repeat="intention in row" class="col-md-4">
            <!--<a  href="#/area/{{areaName}}/intention/{{intentionObject.IntentionId }}/text" >-->
            <a href="area/{{currentArea.Name}}/intention/{{intention.IntentionId}}/text"
               targettype = "intention"
               targetId = "{{intention.IntentionId}}" >
                <div class="well well-small bmw-intention">{{intention.Label}}</div>
            </a>
        </div> <!-- Fin colonne-->
    </div> <!-- Fin ligne-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47718196-1', 'commentvousdire.com');
        ga('send', 'pageview');
    </script>
</div> <!-- Intentions VIEW  -->