<!--TEMPLATE to display a list of Intentions -->
<div ng-show="true" action-location="IntentionList">
    <!-- Page title -->
    <!--<h3 id="titrePage">{{ pageTitle }}</h3>-->
    <!--<h4 class="intentionTitle">{{ pageTitle }}</h4>-->
    <h3 class="intentionTitle">{{ pageTitle }}</h3>
    <!-- Intentions list as rows and columns -->
    <!--<div class="row-fluid" ng-repeat="lineNumber in getLineNumbers(3)">-->
        <!--<div ng-repeat="intentionObject in getLineElementsForLineNumber($index,3)" class="span4">-->
    <div class="row" ng-repeat="lineNumber in getLineNumbers(3)">
        <div ng-repeat="intentionObject in getLineElementsForLineNumber($index,3)" class="col-md-4">
            <!--<a  href="#/area/{{areaName}}/intention/{{intentionObject.IntentionId }}/text" >-->
            <a  href="area/{{areaName}}/intention/{{intentionObject.IntentionId }}/text" targettype = "intention" targetId = "{{intentionObject.IntentionId}}" >
                <div ng-click="SelectIntention(intentionObject)"  class ="well well-small bmw-intention">
                    <!--<div  class ="well well-small bmw-intention">-->
                    <span  ng-bind="intentionObject.Label"></span>
                </div>
            </a>
        </div> <!-- Fin colonne-->
    </div> <!-- Fin ligne-->
</div> <!-- Intentions VIEW  -->