<div ng-show="true" >
    <div style="text-align: center;font-size: 16px; margin-bottom: 30px;">
        <div class="splashTitle">
            La bonne fréquence pour les bonnes ondes
        </div>
    </div>

    <div class = "row" ng-repeat="recipient in recipientsWithSubscriptions"  >
        <div class="col-sm-2"></div>
        <div class="col-sm-8" >
            <div style="font-size:120%">{{ recipient.LocalLabel }}</div>
                <div ng-repeat="alert in recipient.alerts">
                    <div class ="col-xs-5" >{{ alert.IntentionLabel}}</div>
                    <div class ="col-xs-3">{{ alert.FreqNumerator }} fois</div>
                    <div class ="col-xs-4">/ {{ alert.FreqPeriod }}</div>
                </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div  style="margin-top: 25px; margin-bottom: 0px; text-align: center" >
        <ul class="pager bmwQuestionButton pull-left" >
            <li ng-class= '{selectionne: false}' >
                <a href="/recipients" role="button"  targetId="Next"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
            </li>
        </ul>
        <ul class="pager bmwQuestionButton pull-right" >
            <li ng-class= '{selectionne: false}' >
                <a href="/userEMail" role="button"  targetId="Next"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
            </li>
        </ul>
        <div style="padding-top: 0px; padding-bottom: 5px;">(de toute façon, vous pourrez modifier plus tard)</div>

    </div>

</div>