<div ng-show="true" style="text-align: center;">
    <div class="row" style="margin-top: 5px; margin-bottom: 25px; font-size: 16px;" >
        <div class="splashTitle">
            Qui mérite mes messages ?
        </div>
    </div>

    <div class = "listeTypeDestinataire" >
        <div class="row" ng-repeat="qui in lesQui" style="vertical-align: middle; margin-bottom: 20px ">
            <div class="col-xs-1"></toggle-switch></div>
            <div class="col-xs-5" style="text-align: right">{{ qui.LocalLabel }}</div>
            <div class="col-xs-2"><toggle-switch state="getState(qui.Id)" switch="switchState(qui.Id)"></toggle-switch></div>
            <div class="col-xs-4"></toggle-switch></div>
         </div>
     </div>

    <ul class="pager bmwQuestionButton pull-left" >
        <li ng-class= '{selectionne: false}' >
            <a href="/" role="button"  targetId="Next"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" >
        <li ng-class= '{selectionne: false}' >
            <a href="/subscriptions" role="button" class="pull-right" targetId="Next"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
        </li>
    </ul>

</div>
