<div ng-show="true" style="text-align: center;">
  <!--<div class="row" style="margin-top: 5px; margin-bottom: 25px;" >-->
    <div style="margin-top: 20px; margin-bottom: 25px;">
      <!--Choisir un destinataire-->
      <h3 class="intentionCourante">Qui ?</h3>
    </div>
  <!--</div>-->

  <div class = "listeTypeDestinataire" >
    <div ng-repeat="qui in recipients" >
      <ul class="pager bmwQuestionButton" >
        <li>
          <a  href="area/{{currentAreaName}}/recipient/{{qui.Id}}">{{ qui.LocalLabel }}</a>
        </li>
      </ul>
    </div>
  </div>

</div>