<div ng-show="true" style="text-align: center;">
  <h3 style="margin-top: 15px; margin-bottom: 25px; font-size: 140%;" class="intentionCourante" translate>Pour qui ?</h3>

  <!-- Choose a recipient -->
  <div class = "listeTypeDestinataire" >
    <div ng-repeat="qui in recipients" ng-show="qui.usualRecipient == true" >
      <ul class="pager bmwQuestionButton" >
        <li>
          <!--<a  ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{currentAreaName}}/recipient/{{qui.Id}}" translate>{{ qui.LocalLabel }}</a>-->
          <a  ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{currentAreaName}}/recipient/{{qui.Id}}/intention" translate>{{ qui.LocalLabel }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-include="'views/partials/languageBar.html'" style="margin-top: 25px; text-align: center" ></div>

</div>