<div ng-show="true">
    <!--<h3 >Dites un mot à...</h3>-->
    <h3 >Envoyez une pensée à...</h3>
    <div class = "listeTypeDestinataire" >
         <!--<div class ="well well-small bmw-intention" ng-repeat="qui in lesQui">-->
        <div ng-repeat="qui in lesQui" >
             <!--<a href = "#/notimplemented">-->
                 <!--<div class ="well well-small bmw-intention ">-->
                    <!--<span ng-bind="qui.Label"></span>-->
                 <!--</div>-->
             <!--</a>-->
            <ul class="pager bmwQuestionButton" >
                <li ng-class = '{disabled: true}'>
                    <a href="#/notimplemented" ng-click = "">{{ qui.Label }}</a>
                </li>
            </ul>
         </div>
     </div>
</div>
