<div class="splash" style="text-align: center;" action-location="Welcome">

  <!--<img src="./assets/TouchWordingCompressed.jpg" width="300px;">-->
  <a class="hidden-xs" id="toLargeImageSubscription" ng-href="{{app.appUrlSvc.getFullPath('')}}favoriteRecipients" targetId="FavoriteRecipients">
    <img style="margin-top:15px" src="./assets/TouchWordingCompressed.jpg">
  </a>
  <a class="visible-xs" id="toSmallImageSubscription" ng-href="{{app.appUrlSvc.getFullPath('')}}favoriteRecipients" targetId="FavoriteRecipients">
    <img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="./assets/TouchWordingCompressed.jpg">
    <!--<img class="" style="margin-left: -14px" src="./assets/TouchWordingCompressed.jpg">-->
  </a>

  <h1 class="span4 splashTitle"  style="margin-top: 25px; margin-bottom: 15px; margin-left: 35px; margin-right: 45px;" translate>
      Nouveau
  </h1>

  <div class="row">
    <div class="col-md-3 col-xs-1"></div>
    <div class="col-md-6 col-xs-10">
      <div translate>Pas le temps</div>
      <div translate>La solution</div>
    </div>
    <div class="col-md-3 col-xs-1"></div>
  </div>
  <div style="margin-bottom: 30px; margin-top: 20px;">
    <a class="btn btn-primary btn-lg" id="toDashboard" ng-href="{{app.appUrlSvc.getFullPath('')}}area/General/dashboard" targetId="Dashboard" translate>Sauver le chat</a>
  </div>
  <div>
    <div style="margin-bottom: 20px;" translate>
      Trouver un message pour
    </div>
    <div style="margin-bottom: 20px;">
      <a class="btn btn-default" id="toFriends" ng-href="{{app.appUrlSvc.getFullPath('')}}area/Friends/recipient/none/intention" targetId="Friends" translate>Vos amis</a>
    </div>
    <div style="margin-bottom: 20px;">
      <a class="btn btn-default" id="toLoveLife" ng-href="{{  app.appUrlSvc.getFullPath('area/LoveLife/recipient/none/intention') }}" targetId="LoveLife" translate>Vos amours</a>
    </div>
    <div style="margin-bottom: 20px;">
      <a class="btn btn-default" id="toFamily" ng-href="{{ app.appUrlSvc.getFullPath('area/Family/recipient/none/intention') }}" targetId="Family" translate>Votre famille</a>
    </div>
  </div>

  <!-- Unlike in the partial, those are real links  -->
  <div style="margin-top:25px; margin-bottom: 30px;">
    <a href="/fr" class="frontpageLink" ng-class='{"active": getLanguage()=="fr"}'>Français</a>
    <a href="/en" class="frontpageLink" ng-class='{"active": getLanguage()=="en"}'>English</a>
    <a href="/es" class="frontpageLink" ng-class='{"active": getLanguage()=="es"}'>Español</a>
  </div>


  <div ng-include="'views/partials/pageLikePlugin.html'" style="margin-top: 20px; text-align: center" ></div>

  <!--<div  style="margin-bottom: 15px;" >-->
    <!--<div ng-show ="isFrench"  class="fb-like hidden-xs" data-href="https://www.facebook.com/MessagesAmusants" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>-->
    <!--<div ng-show ="!isFrench" class="fb-like hidden-xs" data-href="https://www.facebook.com/TouchWording" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>-->
  <!--</div>-->
  <!--<div class="visible-xs" style="margin-bottom: 15px;" >-->
    <!--<div ng-show ="isFrench"  class="fb-like" data-href="https://www.facebook.com/MessagesAmusants" data-layout="button_count" data-action="like" data-share="true"></div>-->
    <!--<div ng-hide ="isFrench" class="fb-like" data-href="https://www.facebook.com/TouchWording"     data-layout="button_count" data-action="like" data-share="true"></div>-->
  <!--</div>-->

</div>