<div class="splash" style="text-align: center;" action-location="Welcome">
    <!--<h4>Chaque jour est une opportunité</h4>-->
    <div class="row" style="margin-top: 25px; margin-bottom: 30px; font-size: 16px;">
        <div class="span4"></div>
        <!--<div class="span4">CommentVousDire libère<br> les pensées qui vous changent la vie</div>-->
        <div class="span4 splashTitle">
            <!--Libérez vos pensées-->
            <!--Changez vous la vie-->
            <!--<br> avec des mots qui donnent envie !-->
            <!--L'inspiration au bout des doigts pour-->
            L'inspiration en trois clics pour
        </div>
        <div class="span4"></div>
    </div>

    <ul class="pager bmwQuestionButton" >
        <li ng-class = '{selectionne: false}'>
            <a href="area/Friends/intention" >Les amis</a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" >
        <li ng-class = '{selectionne: false}'>
            <a href="area/LoveLife/intention" >Les amours</a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" >
        <li ng-class = '{selectionne: false}'>
            <a href="area/Family/intention" >La famille</a>
        </li>
    </ul>


    <ul class="pager bmwQuestionButton" ng-show = 'false'>
        <li ng-class = '{selectionne: false}'>
            <a href="area/DayToDay/intention" >Votre vie quotidienne</a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = 'false'>
        <li ng-class = '{selectionne: false}'>
            <a href="area/Sentimental/intention" >Votre vie sentimentale</a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = 'false'>
        <li ng-class = '{selectionne: false}'>
            <a href="area/Important/intention" >Les occasions spéciales</a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = 'false'>
        <li ng-class = '{disabled: true}'>
            <a href="recipients" >Envoyer une pensée à...</a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = 'false' >
        <li ng-class = '{disabled: true}'>
            <a href="recipients" >Améliorer votre vie (8 clics!)</a>
        </li>
    </ul>

    <!--<ul class="pager bmwQuestionButton" >-->
        <!--<li ng-class = '{disabled: true}'>-->
            <!--<a href="#/notimplemented" ng-click = "">Changez-vous la vie</a>-->
        <!--</li>-->
    <!--</ul>-->
    <div style="margin-top: 30px; margin-bottom: 0px;" >
        <!--Au bout des doigts : votre moi<br> sympa et inspiré&nbsp!-->
        Trouvez les mots<br> qui donnent envie&nbsp!
        <!--Les mots sur le bout de la langue,<br>l'inspiration au bout des doigts&nbsp!-->
        <!--Changez-vous la vie&nbsp!-->
    </div>

    <div class="row"  >
        <div class="span4"></div>
        <div class="span4 brand">
            <!--<img src="./assets/plumecenteredsmall.png">-->
            <img src="./assets/plume-text-small.png">
        </div>
        <div class="span4"></div>
    </div>
    <!--<div style="margin-top: 0px;">(version beta)</div>-->


    <!--<div><a >Dites les choses importantes</a></div>-->
    <!--<div><a >Dites le au quotidien</a></div>-->
    <!--&lt;!&ndash;<div><a >Dites les choses du quotidien</a></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div><a >Dites le tous les jours</a></div>&ndash;&gt;-->

    <!--<div><a >Envoyez leur une pensée</a></div>-->
    <!--<div><a >Expédiez les formalités</a></div>-->
    <!--<div><a >Changez-vous la vie</a></div>-->


</div>