<div ng-show="true" >
    <!--La bonne fréquence pour les bonnes ondes-->
    <!--Et si je leur disais ?-->
    <h3 class="splashTitle" style="text-align: center; margin-bottom: 30px; font-size: 140%;" translate>Et si vous disiez ?</h3>

    <div class = "row" ng-repeat="recipient in recipientsWithSubscriptions" style="padding-bottom:5px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" >
            <div translate style="font-size:120%; padding-bottom:0px; text-align: left">{{ recipient.LocalLabel }}</div>
            <div ng-repeat="intent in recipient.alerts" style="padding-bottom: 30px; padding-top: 10px;  font-size:100%;">
                <div class ="col-xs-9" translate style="text-align: left">{{ intent.IntentionLabel}}</div>
                <div class="col-xs-3" style="text-align: left"><toggle-switch state="getSubscriptionState(recipient.Id,intent.IntentionId)" switchh="switchSubscriptionState(recipient.Id,intent.IntentionId)"></toggle-switch></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div  style="margin-top: 25px; margin-bottom: 0px; text-align: center" >
        <ul class="pager bmwQuestionButton pull-left" >
            <li ng-class= '{selectionne: false}' >
                <a ng-href="{{app.appUrlSvc.getFullPath('')}}favoriteRecipients" role="button"  targetId="Previous" ng-click="sendSubscriptionsToServer()" > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
            </li>
        </ul>
        <ul class="pager bmwQuestionButton pull-right" >
            <li ng-class= '{selectionne: false}' >
                <a ng-href="{{app.appUrlSvc.getFullPath('')}}userEMail" role="button"  targetId="Next" ng-click="sendSubscriptionsToServer()"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
            </li>
        </ul>
        <!--<div style="padding-top: 10px; padding-bottom: 5px;">(vous pourrez modifier <br>plus tard)</div>-->
    </div>

</div>