<div ng-show="true" >
    <div style="text-align: center;font-size: 16px; margin-bottom: 15px;">
        <div class="splashTitle">
            <!--La bonne fréquence pour les bonnes ondes-->
            Créez du lien !
        </div>
    </div>

    <div class = "row" ng-repeat="recipient in recipientsWithSubscriptions"  >
        <div class="col-sm-2"></div>
        <div class="col-sm-8" >
            <div style="font-size:120%">{{ recipient.LocalLabel }}</div>
                <div ng-repeat="alert in recipient.alerts">
                    <div class ="col-xs-7" >{{ alert.IntentionLabel}}</div>
                    <div class ="col-xs-5">{{ alert.FreqLabel }}</div>
                </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div  style="margin-top: 25px; margin-bottom: 0px; text-align: center" >
        <ul class="pager bmwQuestionButton pull-left" >
            <li ng-class= '{selectionne: false}' >
                <a href="/recipients" role="button"  targetId="Previous" ng-click="sendSubscriptionsToServer()" > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
            </li>
        </ul>
        <ul class="pager bmwQuestionButton pull-right" >
            <li ng-class= '{selectionne: false}' >
                <a href="/userEMail" role="button"  targetId="Next" ng-click="sendSubscriptionsToServer()"> <img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
            </li>
        </ul>
        <!--<div style="padding-top: 10px; padding-bottom: 5px;">(vous pourrez modifier <br>plus tard)</div>-->
    </div>

</div>