<div action-location="TextDetail">
  <div>
    <!--<h3   ng-bind-html = "currentText.Abstract || currentIntention.Label" ></h3>-->
    <ul class="pager bmwQuestionButton" style="margin-bottom: 15px;">
      <li ng-class='{selectionne: false}'>
        <a href="/area/{{ currentArea.Name }}/intention/{{ currentIntention.IntentionId }}/recipient/{{ recipientId }}/text"
           class="pull-left" role="button" targetId="Back">
          <img ng-src="./assets/arrow-left.png" class="stylepicto">
        </a>
        <h4 class="pull-left" style="margin-left: 10px;" translate>{{ currentIntention.Label }}</h4>
      </li>
    </ul>
  </div>


  <span ng-repeat="tagLabel in currentText.TagLabels" >
      <span class="label label-primary" translate>{{tagLabel}}</span>&nbsp
  </span>

  <div class="well well-lg" ng-hide="editText" style="border-color: #428bca; margin-bottom: 5px; " >
    <span ng-bind-html="currentText.Content"></span>
    <favourite-toggle is-favourite="isFavourite()" on-change="setFavourite()"></favourite-toggle>
  </div>

  <div ng-show="editText">
    <textarea
        ng-model="txt.Content"
        id="currentText"
        style="width:100%;" rows="10">
    </textarea>
    <!--<br>-->
    <!--<br>-->
  </div>

  <div>
        <!--<ul class="pager bmwQuestionButton" style="margin-bottom: 5px;">-->
            <!--<li ng-class= '{selectionne: false}' >-->
                <!--&lt;!&ndash;<a href="/area/{{ currentArea.Name }}/intention/{{ currentIntention.IntentionId }}/text" class="pull-left" role="button" targetId="Back"  >&ndash;&gt;-->
                <!--<a href="/area/{{ currentArea.Name }}/intention/{{ currentIntention.IntentionId }}/recipient/{{ recipientId }}/text" class="pull-left" role="button" targetId="Back"  >-->
                  <!--<img ng-src="./assets/arrow-left.png" class="stylepicto">-->
                <!--</a>-->
                <!--<span class="pull-right">-->
                    <!--<button class="btn" translate-->
                            <!--targetId = "{{ Id }}" targetType="Text" actionType="edit"-->
                            <!--ng-click="edit()" ng-hide ="editText">Editer</button>-->
                    <!--<button class="btn btn-primary" translate-->
                            <!--targetId = "{{ Id }}" targetType="Text" actionType="send"-->
                            <!--ng-click="send()">Envoyer</button>-->
                <!--</span>-->
            <!--</li>-->
        <!--</ul>-->
    <span class="pull-right">
        <button class="btn" translate
                targetId="{{ Id }}" targetType="Text" actionType="edit"
                ng-click="edit()" ng-hide="editText">Editer
        </button>
        <button class="btn btn-primary" translate
                targetId="{{ Id }}" targetType="Text" actionType="send"
                ng-click="send()">Envoyer
        </button>
    </span>
  </div>

    <!--<br/>-->
    <div class ="auteur" ng-show="currentText.IsQuote">
        Auteur : {{currentText.Author}}
    </div>

    <div ng-show="currentText.ReferenceUrl">
        Source : <a ng-href = "{{currentText.ReferenceUrl}}" >{{currentText.ReferenceUrl}}</a>
    </div>

  <div ng-repeat="languageTextGroup in  languageTextGroups" style="padding-top: 30px;">
    <h5 style="font-size: 120%;" translate>{{ languageTextGroup.code }}</h5>

    <div ng-repeat="text in languageTextGroup.texts">
      <div class="well well-lg" style="border-color: #428bca; margin-bottom: 5px; margin-top: 25px;">
        <span ng-bind-html="text.Content"></span>
        <!--<favourite-toggle is-favourite="isFavourite()" on-change="setFavourite()"></favourite-toggle>-->
      </div>
      <div>
        <button class="btn btn-primary pull-right" translate
                targetId="{{ Id }}" targetType="Text" actionType="send"
                ng-click="txt.Content = text.Content; send();">Envoyer
        </button>
      </div>
      <div>&nbsp</div>
    </div>
  </div>

</div>