<div action-location="TextDetail">

  <!-- Back button : behaviour will vary according to context -->
  <div>
    <ul class="pager bmwQuestionButton" style="margin-top: 5px;  margin-bottom: 20px;">
      <li ng-class='{selectionne: false}'>

        <!-- User was allready in our app : just go back to previous page  -->
        <!--<a ng-show = "app.appUrlSvc.getTextDetailWasCalledFromTextList() || app.appUrlSvc.getTextDetailWasCalledFromDashboard()" ng-href="" historyback-->
           <!--class="pull-left" role="button" targetId="Back">-->
          <!--<img ng-src="./assets/arrow-left.png" class="stylepicto">-->
        <!--</a>-->

        <!-- Move explicitely to  text list url -->
        <!--<a ng-show = "app.appUrlSvc.getTextDetailWasCalledFromTextList() == false && app.appUrlSvc.isDashboardPath() == false"-->
        <a ng-show = "app.appUrlSvc.isDashboardPath() == false"
            ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{ currentAreaName }}/recipient/{{ recipientId }}/intention/{{theIntentionSlugOrId}}/text"

           class="pull-left" role="button" targetId="Back">
          <img ng-src="./assets/arrow-left.png" class="stylepicto">
        </a>

        <!-- Move explicitely to dashboard -->
        <a ng-show = "app.appUrlSvc.getTextDetailWasCalledFromDashboard() == false && app.appUrlSvc.isDashboardPath() == true"
           ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{ currentAreaName }}/dashboard"
           class="pull-left" role="button" targetId="Back">
          <img ng-src="./assets/arrow-left.png" class="stylepicto">
        </a>

        <h4 class="pull-left" style="margin-left: 10px;" translate>{{ theIntentionLabel }}</h4>
        <!--<img style="margin-top:0px; margin-right: 10px;" width="50px" height="40px" src="./assets/TouchWordingCompressed.jpg" class="pull-right">-->
        <!--<a>-->
          <button ng-click="changeImage()" class="btn btn-default btn-lg pull-right glyphicon glyphicon-refresh" targetType="Photo"  actionType="refresh"  targetId="{{imageUrl}}" ></button>
        <!--</a>-->

      </li>
    </ul>
  </div>

  <div class="hidden-xs"  style="text-align: center">
    <img style=" margin-top:0px; margin-bottom: 10px;" width="500px;" ng-src="{{imageUrl}}">
  </div>
  <br>
  <div class="visible-xs"  style="text-align: center">
    <img style="margin-top:0px; margin-bottom: 10px;" width="330px;" ng-src="{{imageUrl}}">
  </div>


  <!-- Text -->
  <!--<div class="well well-lg" ng-hide="editText" style="border-color: #428bca; margin-bottom: 5px; background-color: #FFFFFF;" >-->
  <!--<div style="text-align: center; margin-left: 40px; margin-right: 40px; margin-top: 0px; font-size: 16px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; "  ng-hide="editText"  >-->
  <div ng-hide="editText" style="text-align: center; font-family: 'Open Sans', Arial, Helvetica, sans-serif;">
    <div class="hidden-xs" style="margin-top: 0px; margin-left: 20%; margin-right: 20%; font-size: 16px;"    >
      <span ng-bind-html="txt.Content" style="white-space: pre-wrap; "></span>
    </div>
    <div class="visible-xs" style="margin-left: 15%; margin-right: 15%; margin-top: 5px; font-size: 14px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; "  >
      <span ng-bind-html="txt.Content" style="white-space: pre-wrap; "></span>
    </div>
  </div>
  <!--<span cvd-text="currentText"></span>-->

  <!-- Text edition -->
  <div ng-show="editText">
    <textarea
        ng-model="txt.Content"
        id="currentText"
        style="width:100%;" rows="8">
    </textarea>
  </div>
  <!-- Text author -->
  <div ng-show="isQuote(currentText) && authorButton!='disabled'" style="margin-top: 10px; text-align: center;" >
    <!--<span class ="auteur hidden-xs " translate>Auteur</span>-->
    <!--<span class ="auteur hidden-xs" translate> : </span>-->

    <span class ="auteur">{{currentText.Author}}</span>
    <!--&nbsp-->
    <!--<button class="btn btn-xs btn-default " ng-class = '{disabled: authorButton=="disabled"}'-->
            <!--targetId="{{ Id }}" targetType="Text" actionType="edit"-->
            <!--ng-click="addAuthor()">+</button>-->
  </div>

  <div style="margin-bottom: 20px; "></div>


  <!-- Actions and translations  -->
  <div style="margin-left: 15%;margin-right: 15%">

    <div class="pull-left">
      <div ng-if="includeSocialPluginsOnTextPages()" style="margin-bottom: 5px; margin-top: 5px; margin-right: 5px;" >
        <div class="fb-share-button btn btn-default"></div>
      </div>
    </div>


    <!-- Action buttons -->
    <div class="pull-right" style="vertical-align: middle; ">
      <!-- edit  -->
      <button style="margin-left: 10px" class="btn btn-default  glyphicon glyphicon-pencil" translate
              targetId="{{ Id }}" targetType="Text" actionType="edit"
              ng-click="edit()" ng-hide="editText"></button>
      <!--Send by mail-->
      <a style="margin-left: 10px"  targetType="Text"
          targetId="{{Id}}"
          actionType="sendMail"
          ng-href="{{mailToThis}}"
          class="btn btn-primary">
        email
      </a>
    </div>

    <br/>
    <br/>

    <div ng-show="currentText.ReferenceUrl">
        Source : <a ng-href = "{{currentText.ReferenceUrl}}" >{{currentText.ReferenceUrl}}</a>
    </div>

    <div style="margin-bottom:20px;"></div>

    <div></div>


    <!-- Translations  -->
    <accordion style="margin-top: 30px;"  ng-show="languageTextGroups.length > 0">
      <accordion-group is-open="theAccordionStatus.open" is-disabled="false">
        <accordion-heading>
          <i class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-plus': !theAccordionStatus.open, 'glyphicon-minus': theAccordionStatus.open}"></i>
          <span style="font-size: 100%" translate >Traductions</span>
          (
          <span >{{languageTextGroups.length}}</span>
          )
        </accordion-heading>
        <!-- Translations  -->
        <div ng-repeat="languageTextGroup in  languageTextGroups" style="padding-top: 10px; padding-bottom: 20px;">
          <h5 style="font-size: 120%; margin-top: 0px;" translate>{{ languageTextGroup.code }}</h5>

          <div ng-repeat="text in languageTextGroup.texts">
            <div class="well well-lg" style="border-color: #428bca; margin-bottom: 5px; margin-top: 25px;">
              <span ng-bind-html="text.Content"></span>
              <!--<div cvd-text="text"></div>-->
              <!--<favourite-toggle is-favourite="isFavourite()" on-change="setFavourite()"></favourite-toggle>-->
            </div>
            <div>
          <span ng-show="isVariationFormMorePrecise(text)" style="color: #428bca;">
            <span translate>Ecrit</span> <span translate>{{getSenderGenderMessage(text)}}</span> <span translate>{{getRecipientGenderMessage(text)}}</span> <span translate>{{getTVMessage(text)}}</span>
          </span>

              <a rel="nofollow" ng-href="{{app.appUrlSvc.getRootPath('')}}area/{{ currentAreaName }}/recipient/{{ recipientId }}/intention/{{ theIntentionSlugOrId }}/text/{{text.TextId}}"
                 targetType="Text"  actionType="open"  targetId="{{txt.TextId}}">
                <button class="btn btn-default pull-right glyphicon glyphicon-ok" translate
                        targetId="{{ Id }}" targetType="Text"></button>
              </a>
            </div>
            <div>&nbsp</div>
          </div>
        </div>
      </accordion-group>
    </accordion>

  </div>
  <!-- When user has landed directly on this page, suggest a visit to intention list  -->
  <div ng-show = "!app.appUrlSvc.getTextDetailWasCalledFromTextList() && !app.appUrlSvc.getTextDetailWasCalledFromDashboard()" style="margin-top: 25px; margin-bottom: 15px; text-align: center; ">
    <div translate style="margin-bottom: 10px;">Voir les meilleures façons de dire</div>
    <a style="color:  #428bca" class="btn btn-default" id="toTextList"
       ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{ currentAreaName }}/recipient/{{ recipientId }}/intention/{{theIntentionSlugOrId}}/text"
       targetId="TextList" translate>{{ theIntentionLabel }}</a>
  </div>

  <!-- When user has landed directly on this page, suggest a visit to homepage  -->
  <!--<div ng-show = "!app.appUrlSvc.getTextDetailWasCalledFromTextList() && !app.appUrlSvc.getTextDetailWasCalledFromDashboard()" style="margin-top: 20px; margin-bottom: 15px; text-align: center; ">-->
  <div ng-show = "userEmailIsEmpty()" style="margin-top: 20px; margin-bottom: 15px; text-align: center; ">

    <div translate style="margin-bottom: 10px;">Testez le prompteur</div>
    <a class="btn btn-primary" id="discoverTheApp" ng-href="{{app.appUrlSvc.getFullPath('')+'favoriteRecipients'}}" targetId="Welcome" translate>Retenez-les</a>
  </div>


  <!-- Switch language -->
  <div ng-show = "!app.appUrlSvc.getTextDetailWasCalledFromTextList() && !app.appUrlSvc.getTextDetailWasCalledFromDashboard()" ng-include="'views/partials/languageBar.html'" style="margin-top: 30px; text-align: center" ></div>

  <!-- Mozart  -->
  <!--<div ng-if = "!app.appUrlSvc.getTextDetailWasCalledFromTextList() && !app.appUrlSvc.getTextDetailWasCalledFromDashboard()" style="margin-top:25px; margin-bottom: 15px; text-align: center;">-->
    <!--<img height="120px;" src="./assets/pianoCat.jpg">-->
  <!--</div>-->


</div>

<!-- send  -->
<!--<button style="margin-left: 10px" class="btn btn-default" translate-->
<!--targetId="{{ Id }}" targetType="Text" actionType="send"-->
<!--ng-click="send()">Envoyer</button>-->

<!-- fb share  -->
<!--<div ng-if="includeSocialPluginsOnTextPages()" class="pull-right" style="margin-bottom: 5px; margin-top: 5px; margin-right: 5px;" >-->
<!--<div class="fb-share-button btn btn-default"></div>-->
<!--</div>-->
<!--<div></div>-->


<!-- fb send : use api version when possible, button shows right away and content of fb plugin looks less random, will not work on mobiles -->
<!-- ......but it does not seem to work if the page has never been scrapped by fb before  -->
<!--<button ng-click="fbSend()" class="btn hidden-xs" style="background: url(/assets/fbSend.png)  no-repeat; width: 70px; height: 25px;"></button>-->
<!-- use the fb social button on mobiles : can take a few seconds to render, and will scrape what it can  -->
<!-- Disabled because often does not show the right text or the right photo  -->
<!--<div class="fb-send btn btn-default"></div>-->
