<div ng-show="true" class="panneauTexte" action-location="TextList">

     <!-- Number of texts and control buttons -->
    <div  ng-show="hideTexts()" >
        <span ng-show="TextListPanel.showNbTexts" class="nombreTextes">{{TextListPanel.lesTextes.length}}&nbsp</span>
        <span ng-show="TextListPanel.showNbTexts" class="labelTextes">{{TextListPanel.labelNbTexts}}</span>

         <!-- Shows the advanced filters dialog box : disabled -->
         <a href="#modalContextFilters" role="button" ng-show="false"
            class="btn btn-primary btn-small pull-right filtreTextes" data-toggle="modal" >Contexte</a>
         <!-- Back button -->
        <button historyback  class="btn  btn-small  pull-right retourIntentions" ng-click="Navigation.Back()" >&larr; </button><span> </span>
    </div>

     <!-- Selected intention  -->
     <h4 id="testId" class = "intentionCourante">{{TextListPanel.intentionLabel }} </h4>

     <!-- BasicFilters  filtering buttons -->
     <div ng-controller="TextFiltersController" ng-show="displayTextFilters()">

         <!-- Breadcrumbs -->
         <ul class="breadcrumb"  ng-show = "showBreadcrumbs()">
             <li><a href="#/userprofile" ng-click="PostBox.gulp('Navigation','UserProfile','TextList')" >
                 Moi
                  </a>
                 &nbsp <img ng-src="./assets/arrow-right.png" class="breadcrumbpicto"> &nbsp
                 <a href="" ng-show="BasicFilters.getHideRecipientGender()" ng-click = "definirGenreDestinataire('I')">
                     <img id="breadcrumbCrossRecipientGender" ng-src="./assets/cross.png" class="breadcrumbpicto" >
                     <img ng-src="./assets/{{ getRecipientGenderIconName() }}" class="breadcrumbpicto"></a>
                 </a>
                 <a href="" ng-show="BasicFilters.getHideTuOuVous()" ng-click = "definirTuOuVous('I')" >
                     &nbsp
                     <img id="breadcrumbCrossTuOuVous" ng-src="./assets/cross.png" class="breadcrumbpicto" >
                     {{ getTuOuVousLabel() }}
                 </a>
             </li>
         </ul>

         <!-- User Gender -->
         <ul class="pager bmwQuestionButton" ng-show = "!BasicFilters.getHideSenderGender()">
             Vous êtes
             <li ng-class = '{selectionne: BasicFilters.getSenderGender()=="H"}'>
                 <a ng-click = "definirGenreExpediteur('H')">Un homme</a></li>
             <li ng-class = '{selectionne: BasicFilters.getSenderGender()=="F"}'>
                 <a ng-click = "definirGenreExpediteur('F')">Une femme</a></li>
         </ul>

         <!-- Recipient Gender -->
         <ul class="pager bmwQuestionButton" ng-show = "!BasicFilters.getHideRecipientGender()">
         Destinataire
             <li ng-class= '{selectionne: RecipientGender()=="H"}'>
             <!-- PostAction is better left in ng-click -->
             <!--<a href="" targetType="Command" targetId="RecipientGender" targetParameters="H"  ng-click = "definirGenreDestinataire('H')">     <img ng-src="./assets/maleuser32.png" class="breadcrumbpicto">  </a></li>-->
             <a ng-click = "definirGenreDestinataire('H')">     <img ng-src="./assets/maleuser32.png" class="breadcrumbpicto">  </a></li>
             <li ng-class= '{selectionne: RecipientGender()=="F"}' >
                <a ng-click = "definirGenreDestinataire('F')">     <img ng-src="./assets/femaleuser32.png" class="breadcrumbpicto">  </a></li>
             <li ng-class= '{selectionne: RecipientGender()=="P"}' >
                 <a ng-click = "definirGenreDestinataire('P')">    <img ng-src="./assets/several32.png" class="breadcrumbpicto"> </a></li>
         </ul>

         <!-- In French, would you say Tu or Vous -->
         <ul class="pager bmwQuestionButton" ng-show = "!BasicFilters.getHideTuOuVous()">
         Lui dire
             <li ng-class= '{selectionne: BasicFilters.getTuOuVous()=="T"}'>
                 <a ng-click = "definirTuOuVous('T')">Tu</a></li>
             <li ng-class= '{selectionne: BasicFilters.getTuOuVous()=="V"}' >
                 <a ng-click = "definirTuOuVous('V')">Vous</a></li>
         </ul>
     </div>

    <div class = "listeTextes" ng-hide="hideTexts()">
        <!-- Progress bar (hidden after loading) : move with the texts -->
        <div class="progress progress-striped active" ng-show = "TextListPanel.showProgressBar">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{TextListPanel.progressBarWidth}}%">
                <span class="sr-only">{{TextListPanel.progressBarWidth}}% Complete</span>
            </div>
        </div>

        <div>
            <ul class="pager bmwQuestionButton " ng-show = 'true' >
                <li >
                    <a historyback href="" class="pull-left" role="button"  targetId="Back" > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
                </li>

                <li class="nombreTextesB labelTextesB">
                    <!--<a href="#modalFiltres"  role="button"  data-toggle="modal" ng-click="choseFiltersToDisplay()"> {{TextListPanel.lesTextes.length}} &nbsp <img ng-src="./assets/e-mail64.png" class="stylepicto"> </a>-->
                    <a href="" ng-click="choseFiltersToDisplay()"> {{TextListPanel.lesTextes.length}} &nbsp <img ng-src="./assets/e-mail64.png" class="stylepicto"> </a>
                </li>

                <li ng-class= '{selectionne: AtLeastOneStyleToExclude() || AtLeastOneStyleToPrefer() }' class = "pull-right" >
                    <!--<a href="#modalFiltres"  role="button"  data-toggle="modal" ng-click="choseFiltersToDisplay()"> <img ng-src="./assets/choice.png" class="stylepicto">  Styles</a>-->
                    <a href="" ng-click="choseFiltersToDisplay()"> <img ng-src="./assets/choice.png" class="stylepicto">  Styles</a>
                </li>
            </ul>
        </div>

        <!--<div ng-repeat="txt in TextListPanel.lesTextes"  ng-click="selectThisText(txt,'open')">-->
        <div ng-repeat="txt in TextListPanel.lesTextes" >
                <div>
                    <!--<i class="icon-envelope pull-right" ng-click="allowPopUp()"></i>-->
                    <img src="./assets/e-mail64.png" class = "pull-right envoyer"  ng-click="selectAndPopUp(txt,'send')" >
                    <a href="#/area/{{ areaId }}/intention/{{ intentionId }}/text/{{txt.TextId}}" targetType = "Text"  targetId = "{{txt.TextId}}"  ng-click="selectThisText(txt,'open')" >

                        <div ng-switch on="whatToDisplay(txt)" ng-class= "{active: txt.TextId == getSelectedTextId(txt,txt.textId)}">
                            <div ng-switch-when="0" class ="well well-small bmw-texte" ng-bind-html="txt.Abstract | replaceBrackets | convertEndOfLineToBR"></div>

                            <div ng-switch-when="1" class ="well well-small bmw-texte"
                                 ng-bind-html="txt.Content | replaceBrackets | convertEndOfLineToBR"></div>

                            <div ng-switch-when="2">
                                <blockquote>
                                    <span ng-bind-html="txt.Content | replaceBrackets | convertEndOfLineToBR" class = "citation"></span>
                                    <small ng-hide="isAuthorOfCitationIsUnknown(txt.Author)" title="txt.Author">{{txt.Author}}</small>
                                </blockquote>
                            </div>

                            <div ng-switch-default>Default text : should not happen</div>
                        </div>
                    </a>
                </div>
        </div>

    </div> <!--/ Text list -->


</div> <!--/ Normal List TEMPLATE -->