
<!-- TextDetail view: will be shown here when a text is selected : both views will be active at the same time-->
<ui-view></ui-view>

<div ng-show="getCurrentTextId() == undefined" class="panneauTexte" action-location="TextList">

  <!--<div ng-hide="true || filtersWellDefined()" style="padding-top: 0px; margin-top: 0px; margin-bottom: 5px; ">-->
    <!--<span ng-show="textList.length">-->
      <!--<span class="nombreTextes">{{ filteredList.length }}</span>&nbsp-->
      <!--<span class="labelTextes" translate>façons de dire</span>-->
    <!--</span>-->
    <!--<span ng-hide="textList.length">-->
      <!--<span class="labelTextes" translate>Aucun texte pour dire</span>-->
    <!--</span>-->
  <!--</div>-->

  <div style="vertical-align: middle;">
    <h4 class="intentionCourante " style="  vertical-align: middle;">
      <a class="backArrow" style="margin-right: 5px"
         ng-href="{{app.appUrlSvc.getFullPath('')}}area/{{ currentAreaName }}/recipient/{{ recipientId }}/intention"
         role="button"  targetId="Back" > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
      <span translate>{{ currentIntention.Label }}</span>
      <span ng-show="currentRecipient !== null"> - </span>
      <span translate>{{ currentRecipientLabel }}</span>
    </h4>
  </div>

  <div ng-controller="MyAccordionController">
  <!--<div>-->
    <accordion>
      <accordion-group is-open="theAccordionStatus.open" is-disabled="false">
        <accordion-heading>
          <i class="glyphicon" ng-class="{'glyphicon-plus': !theAccordionStatus.open, 'glyphicon-minus': theAccordionStatus.open}"></i>
          <span translate class="brand">Filtrer</span>
          (
          <span class="brand">{{filteredList.length}}</span>
          )
        </accordion-heading>
        <!-- Filtering options  -->
        <div ng-include="'views/partials/filterForm.html'" style="margin-bottom: 0px;"></div>
      </accordion-group>
    </accordion>
  </div>

    <!-- Text list  -->
    <div class="listeTextes" ng-show="true">
      <div ng-repeat="txt in filteredList">
         <span ng-hide="isThisAQuote(txt)" ng-repeat="tagLabel in labelsThatShouldBeDisplayed (txt)" >
            <span class="label label-warning" translate>{{tagLabel}}</span>&nbsp
         </span>

        <div id="{{txt.TextId}}">
          <img
          src="./assets/e-mail64.png"
          class="pull-right envoyer"
          ng-click="send(txt)">
          <a ng-href="{{app.appUrlSvc.getRootPath()}}area/{{ currentAreaName }}/recipient/{{ recipientId }}/intention/{{ theIntentionSlugOrId }}/text/{{txt.TextId}}"
          targetType="Text"
          actionType="open"
          targetId="{{txt.TextId}}"
          ng-click="app.appUrlSvc.setTextDetailWasCalledFromTextList(true)"
          >
          <div cvd-text="txt" ng-class="{active: txt.TextId == selectedTextId}" style="white-space: pre-wrap"></div>
              <span ng-repeat="tagLabel in currentText.TagLabels" >
                <span class="label label-primary" translate>{{tagLabel}}</span>&nbsp
              </span>
        </a>
      </div>
    </div>
  </div>

  <div  ng-show="false" ng-include="'views/partials/languageBar.html'" style="margin-top: 30px; text-align: center" ></div>

  <!-- Fixed position question view -->
  <div ui-view="questionBarView@" ng-show="theQuestionBarSvc.hasMoreQuestions()== true && theAccordionStatus.open == false"
        style="position:fixed; border: solid rgb(247,133,40) ; background-color: #ffffff; text-align:center; z-index:3;
        left: 50%; width: 316px; margin-left: -158px; border-width: 3px;  bottom:1px; padding: 0px; margin-bottom: 0px;" class="alert alert-info">
  </div>
  <div ng-show="theQuestionBarSvc.hasMoreQuestions()== true && theAccordionStatus.open == false"
       style="position:fixed; background-color: #ffffff; margin-left: -23px;  text-align:center;   left: 50%; ; width: 50px; bottom:62px; z-index:5; font-size: 100%">
    <a href="" scroll-to="" ng-click="openAccordion()"  class="fa fa-envelope-o">&nbsp{{filteredList.length}}</a>
  </div>

  <div ng-show="theQuestionBarSvc.hasMoreQuestions()== false || theAccordionStatus.open == true"
       style="position:fixed; background-color: #ffffff; margin-left: -38px;  text-align:center;   left: 50%; ; width: 70px; bottom:0px; z-index:5; font-size: 130% ">
    <a href="" scroll-to="" ng-click="openAccordion()"  class="questionChoice fa fa-envelope-o">&nbsp{{filteredList.length}}</a>
  </div>


</div>