<div class="panneauTexte" action-location="TextList">

     <!-- Number of texts and control buttons -->
    <div ng-hide="filtersWellDefined()" >
        <span ng-show="textList.length">
            <span class="nombreTextes">{{ textList.length }}</span>&nbsp
            <span class="labelTextes">façons de dire</span>
        </span>
        <span ng-hide="textList.length">
            <span class="labelTextes">Aucun texte pour dire</span>
        </span>
         <!-- Back button -->
        <!--<button historyback targetId="Back" class="btn  btn-small  pull-right retourIntentions" ng-click="Navigation.Back()" >&larr; </button><span> </span>-->
                <a href="/area/{{ currentArea.Name }}/intention" class="pull-right" role="button"  targetId="Back" > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
    </div>

     <!-- Selected intention  -->
    <div>
        <h4 id="testId" class="intentionCourante">{{ currentIntention.Label }} </h4>
    </div>


    <div ng-include="'views/partials/filterForm.html'" style="margin-bottom: 20px;" ></div>
    <div ng-include="'views/partials/styleBar.html'" ng-show="filtersWellDefined()"></div>

    <div class = "listeTextes" ng-show="filtersWellDefined()">
        <!-- <div ng-include="'partials/progressBar.html'"></div> -->
        
        <!-- Text list -->
        <div ng-repeat="txt in filteredList">

            <div id="{{txt.TextId}}">
                <img
                    src="./assets/e-mail64.png"
                    class = "pull-right envoyer"
                    ng-click="send(txt)" >
                
                <a  href="/area/{{ currentArea.Name }}/intention/{{ currentIntention.IntentionId }}/text/{{txt.TextId}}"
                    targetType = "Text"
                    actionType="open"
                    targetId = "{{txt.TextId}}"
                    ng-click="selectThisText(txt,'open')" >

                    <div cvd-text="txt" ng-class="{active: txt.TextId == selectedTextId}"></div>
                </a>
            </div>

        </div>

    </div> <!--/ Text list -->

</div>