<div ng-show="true" action-location="UserProfile">
    <!-- Titre -->
    <h4>Options</h4>
    <br/>
    <ul class="pager bmwQuestionButton" ng-show = "true">
        Vous êtes
        <li ng-class = '{selectionne: UserProfile.getUserGender()=="H"}'>
            <a  targetType="Command" targetId="SenderGender"   ng-click = 'UserProfile.setUserGender("H")'>Un homme</a></li>
        <li ng-class = '{selectionne: UserProfile.getUserGender()=="F"}'>
            <a  targetType="Command" targetId="SenderGender"  ng-click = "UserProfile.setUserGender('F')">Une femme</a></li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = "true">
        Vous lisez
        <li ng-class = '{selectionne: UserProfile.getUserReadsALot()=="T"}'>
            <a targetType="Command" targetId="UserReadsALot"  ng-click = "UserProfile.setUserReadsALot('T')">Beaucoup</a></li>
        <li ng-class = '{selectionne: UserProfile.getUserReadsALot()=="F"}'>
            <a targetType="Command" targetId="UserReadsALot"  ng-click = "UserProfile.setUserReadsALot('F')">Modérément</a></li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = "true">
            Age
        <li ng-class = '{selectionne: UserProfile.getUserAge()=="under25"}'>
            <a targetType="Command" targetId="UserAge" ng-click = "UserProfile.setUserAge('under25')">- de 25</a></li>
        <li ng-class = '{selectionne: UserProfile.getUserAge()=="25to45"}'>
            <a targetType="Command" targetId="UserAge" ng-click = "UserProfile.setUserAge('25to45')">25 à 45</a></li>
        <li ng-class = '{selectionne: UserProfile.getUserAge()=="over45"}'>
            <a targetType="Command" targetId="UserAge"  ng-click = "UserProfile.setUserAge('over45')">+ de 45</a></li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = "true">
        Caractère
        <li ng-class = '{selectionne: UserProfile.getUserIsDemonstrative()=="T"}'>
            <a targetType="Command" targetId="UserIsDemonstrative" ng-click = "UserProfile.setUserIsDemonstrative('T')">Démonstratif</a></li>
        <li ng-class = '{selectionne: UserProfile.getUserIsDemonstrative()=="F"}'>
            <a targetType="Command" targetId="UserIsDemonstrative" ng-click = "UserProfile.setUserIsDemonstrative('F')">Réservé</a></li>
    </ul>
    <ul class="pager bmwQuestionButton" ng-show = 'true' >
        <li ng-class= '{selectionne: false}' >
            <a href="" role="button" historyback class="pull-left" targetId="Back"  > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
        </li>
    </ul>
</div> <!-- UserProfile VIEW -->