<div ng-show="true" style="text-align: center;" action-location="UserEmail">

  <div class="hidden-xs"  >
    <img style="margin-top:15px" src="./assets/sendMailResized.jpg">
  </div>
  <div class="visible-xs">
    <img class="" style="margin-left: -13px; margin-top: -17px;"  width="350px;" src="./assets/sendMailResized.jpg">
  </div>

  <div class="row" style="margin-top: 5px; margin-bottom: 30px; font-size: 16px;" >
      <div class="col-xs-1"></div>
    <!--Je recevrai les idées de messages à cette adresse-->
    <!--Où pousseront mes idées de messages ?-->
    <!--Où se déposeront les idées de messages ?-->
      <div class="col-xs-10" translate>
        Où seront déposées vos suggestions de messages ?
      </div>
      <div class="col-xs-1"></div>
  </div>

  <div class="row" style="margin-top: 5px; margin-bottom: 10px; font-size: 16px; text-align: center; " >
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <form name="userMail" role="form" autocomplete="on">
        <div class="form-group" >
          <!--<label >la&nbsp</label>-->
          <div>
          <input ng-model="user.email" type="email" name="input" required autocomplete="on" style="vertical-align:middle; width: 250px;" ng-change="updateMail()" placeholder="{{'votre adresse mail' | translate}}" >
          </div>
          <br>
          <a ng-disabled="userMail.input.$valid == false" ng-href="{{app.appUrlSvc.getFullPath('')}}userEMailValidation" role="button"  targetId="Next" ng-click="">
            <button ng-disabled="userMail.input.$valid == false" type="button" targetType = "Command" targetId="MailValidation" targetParameters="{{user.email}}" class="btn btn-lg btn-primary" style="vertical-align:middle;" ng-click="sendMailToServer()" translate>Continuer</button>
          </a>
        </div>
        <!--<div ng-show="mailSent" translate>C'est parti !</div>-->
        <!--<div ng-show="mailSent" translate>Vous recevrez prochainement un message d'activation.</div>-->
        <div ng-show="isConnected == false" style="margin-top: 20px;">
          <!--<div translate style="font-size: 70%;">ou</div>-->
          <!--<div translate style="font-size: 70%;">Autre option : j'ai la flemme de taper mon mail</div>-->
          <!--<button style="margin-top: 0px;" type="button" ng-click="fbLogin()" targetId="fbLogin" targetType="Command" actionType="click"  class="btn btn-default" translate>Inscription facebook en 1 clic</button>-->
          <button style="margin-top: 0px;" type="button" ng-click="fbLogin()" targetId="fbLogin" targetType="Command" actionType="click"  class="btn btn-default" translate>Continuer avec facebook</button>
          <div translate style="font-size: 70%;">Taper votre mail vous fatigue ?</div>
          <!--<div translate style="font-size: 70%;">Inscription en 1 clic</div>-->
        </div>
        <div>
          <div class="brandBlue" style="margin-top: 20px;" translate>
            Amusants, originaux, vitaminés : des messages pour inspirer votre communication !
          </div>
          <div class="brand" style="margin-top: 0px;" translate>
            Notre mission : les améliorer au fur et à mesure
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <ul ng-show="false" class="pager bmwQuestionButton pull-left" >
      <li ng-class= '{selectionne: false}' >
          <a ng-href="{{app.appUrlSvc.getFullPath('')}}subscriptions" role="button"  targetId="Previous" ng-click="sendMailToServer()"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
      </li>
  </ul>

  <!-- Facebook plugin -->
  <div ng-include="'views/partials/pageLikePlugin.html'" style="margin-top: 20px; text-align: center" ></div>


</div>