<div ng-show="true" style="text-align: center;">
    <div class="row" style="margin-top: 5px; margin-bottom: 30px; font-size: 16px;" >
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            Envoyez-moi les propositions de messages à cette adresse
        </div>
        <div class="col-xs-1"></div>
    </div>

    <div class="row" style="margin-top: 5px; margin-bottom: 10px; font-size: 16px; text-align: center; " >
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form role="form">
                <div class="form-group" >
                    <!--<label >la&nbsp</label>-->
                    <div>
                      <input ng-model="user.email" style="vertical-align:middle; width: 250px;" ng-change="updateMail()" placeholder="adresse mail" >
                    </div>
                  <br>
                    <button type="button" class="btn btn-default" style="vertical-align:middle;" ng-click="sendMailToServer()">Envoi</button>
                </div>
                <div ng-show="mailSent">C'est parti !</div>
                <div ng-show="mailSent">Vous recevrez prochainement un message d'activation.</div>
                <!--<div>(dans les spam s'il se perd)</div>-->
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <ul class="pager bmwQuestionButton pull-left" >
        <li ng-class= '{selectionne: false}' >
            <a href="/subscriptions" role="button"  targetId="Next" ng-click="sendMailToServer()"> <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
        </li>
    </ul>
    <ul class="pager bmwQuestionButton" >
        <li ng-class= '{selectionne: false}' >
            <a href="/" role="button" class="pull-right" targetId="Next" ng-click="sendMailToServer()"><img ng-src="./assets/arrow-right.png" class="stylepicto"> </a>
        </li>
    </ul>

</div>