<div action-location="currentUser">
  <!-- Title -->
  <!--<h4 translate>Mon profil</h4>-->
  <!--<br/>-->

  <!-- Picture that changes according to user gender -->
  <div ng-include="'views/partials/userGenderImage.html'" style="margin-bottom: 30px; text-align: center" ></div>

  <!-- Show facebook connect button if not connected  -->
  <div style="text-align: center;"  ng-show="!isConnectedToFacebook">
    <div style="margin-bottom: 0px;">
      <button class="btn btn-default" targetId="FacebookConnection" translate ng-click = "connectToFacebook()" translate="">Connexion Facebook</button>
    </div>
    <div style="margin-bottom: 10px; font-size: 70%;" translate>
      Meilleure personnalisation des messages
    </div>
    <div style="margin-bottom: 10px;" translate>
      ou
    </div>
  </div>


  <ul class="pager bmwQuestionButton" >
    <span translate>Je suis</span>
    <li ng-class = '{selectionne: currentUser.gender=="H"}'>
        <a  targetType="Command" targetId="SenderGender" translate  ng-click = 'currentUser.gender = "H"'>Un homme</a></li>
    <li ng-class = '{selectionne: currentUser.gender=="F"}'>
        <a  targetType="Command" targetId="SenderGender" translate ng-click = "currentUser.gender = 'F'">Une femme</a></li>
  </ul>
  <ul class="pager bmwQuestionButton">
    <span translate> Age</span>
    <li ng-class = '{selectionne: currentUser.age==userAges.under18}'>
      <a targetType="Command" targetId="UserAge" translate ng-click = "currentUser.age = userAges.under18">{{ '17-' }}</a></li>
    <li ng-class = '{selectionne: currentUser.age==userAges.between18and39}'>
      <a targetType="Command" targetId="UserAge" translate ng-click = "currentUser.age = userAges.between18and39">18-39</a></li>
    <li ng-class = '{selectionne: currentUser.age==userAges.between40and64}'>
      <a targetType="Command" targetId="UserAge" translate ng-click = "currentUser.age = userAges.between40and64">{{ '40-64' }}</a></li>
    <li ng-class = '{selectionne: currentUser.age==userAges.from65ToInfinity}'>
      <a targetType="Command" targetId="UserAge" translate ng-click = "currentUser.age = userAges.from65ToInfinity">{{ '65+' }}</a></li>
  </ul>
  <ul class="pager bmwQuestionButton">
    <span translate>Je lis</span>
    <li ng-class = '{selectionne: currentUser.readsAlot=="T"}'>
      <a targetType="Command" targetId="UserReadsALot" translate ng-click = "currentUser.readsAlot = 'T'">Beaucoup</a></li>
    <li ng-class = '{selectionne: currentUser.readsAlot=="F"}'>
      <a targetType="Command" targetId="UserReadsALot" translate ng-click = "currentUser.readsAlot = 'F'">Modérément</a></li>
  </ul>
  <ul class="pager bmwQuestionButton">
    <span translate>Caractère</span>
    <li ng-class = '{selectionne: currentUser.isDemonstrative=="T"}'>
      <a targetType="Command" targetId="UserIsDemonstrative" translate ng-click = "currentUser.isDemonstrative = 'T'">Démonstratif</a></li>
    <li ng-class = '{selectionne: currentUser.isDemonstrative=="F"}'>
      <a targetType="Command" targetId="UserIsDemonstrative" translate ng-click = "currentUser.isDemonstrative = 'F'">Réservé</a></li>
  </ul>

  <!-- Second image -->
  <div ng-show="true" style="text-align: center; margin-top: 30px;">
    <div class="hidden-xs" >
      <!--<img style="margin-top:15px" src="./assets/sendMailResized.jpg">-->
      <img style="margin-top:15px" width="448px;" src="http://az767698.vo.msecnd.net/specialoccasions/thank-you/default/small/shutterstock_189863267.jpg">
    </div>
    <div class="visible-xs">
      <!--<img style="margin-left: -13px; margin-top: 0px;"  width="350;" src="./assets/sendMailResized.jpg">-->
      <img style="margin-left: -13px; margin-top: 0px;"  width="350;" src="http://az767698.vo.msecnd.net/specialoccasions/thank-you/default/small/shutterstock_189863267.jpg">
    </div>
  </div>


  <!-- User email  -->
  <div class="row" style="margin-top: 30px; margin-bottom: 10px; font-size: 16px; text-align: center; " >
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <form name="userMail" role="form" autocomplete="on">
        <div class="form-group" >
          <div style="text-align: center;" translate>Où seront déposées vos suggestions de messages ?</div>
          <div style="margin: 10px;">
            <input ng-model="user.email" type="email" name="input" required autocomplete="on" style="vertical-align:middle; width: 250px;" ng-change="updateMail()" placeholder="{{'votre adresse mail' | translate}}" >
          </div>
          <button ng-disabled="false" type="button" class="btn btn-default"
                  targetType = "Command" targetId="MailValidation" targetParameters="{{user.email}}" ng-click="sendMailToServer()" translate>Modifier</button>
        </div>

        <!-- Activate emailing or not -->

        <div ng-disabled="!sendEmails" style="text-align: center; margin-top: 25px;  margin-bottom: 10px;" translate>Recevoir les email</div>
        <button ng-disabled="!userHasEmail()" class="btn btn-default" ng-class="{active: !sendEmails}" ng-click="setEmailingStatus(false)" translate>Pas en ce moment</button>
        <button ng-disabled="!userHasEmail()" ng-disabled="!userHasEmail()" class="btn btn-default" ng-class="{active: sendEmails}" ng-click="setEmailingStatus(true)" translate>Oui svp</button>
        <!-- Unsubscribe -->
        <div  style="text-align: center; margin-top: 25px;  margin-bottom: 10px;" translate>Supprimer votre email de la mailing list</div>
        <button ng-disabled="!userHasEmail()" class="btn btn-default" ng-click="unsubscribe()" translate>Cliquer ici</button>
        <div ng-show="!userHasEmail() && mailDeleted" class="text-primary"  style="text-align: center; margin-top: 2px;  margin-bottom: 0px;" translate>C'est fait</div>

      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <!-- Back and delete all button  -->
  <ul class="pager bmwQuestionButton">
    <li ng-class= '{selectionne: false}' >
      <a href="" role="button" historyback class="pull-left" targetId="Back"  > <img ng-src="./assets/arrow-left.png" class="stylepicto"> </a>
    </li>
    <div class="btn btn-default pull-right" translate ng-click="clearAll()">Tout supprimer</div>
  </ul>


</div> <!-- currentUser VIEW -->