.fb_pixel_send{
    background-image: url('https://www.facebook.com/offsite_event.php?id=6009586863594&amp;value=0&amp;currency=EUR');
    display:none;
}
/* To get rid of 300 ms delay in IE10  */
a, input, button {
    -ms-touch-action: none !important;
}

/*.tabBar {margin-top: 20px;}*/
.tabBar {margin-bottom: 15px;  }

.tabBarReplacement {margin-top: 15px;}

/*.nav-pills>.active>a {background-color: #6F93A5; }*/
/*.nav-pills>.active>a, .nav-pills>.active>a:focus:hover , .nav-pills>.active>a:focus {background-color: rgb(232, 94, 38); }*/


.splashTitle { font-size: 120%;}

.intentionTitle { margin-top: 20px;
                  margin-bottom: 20px;}

.block-blanc-carre { background-color:rgb(255, 255, 255);
                    border-radius:7px}

.block-gris-carre { background-color:rgb(252, 252, 255);
                    border-radius:7px}

.block-blanc { background-color:rgb(255, 255, 255);
               border-radius:18px}

.block-gris { background-color:rgb(250, 250, 255);
               border-radius:15px}

.bmw-intention { 
                  background-color:rgb(250, 250, 255); /* cerise:  #E8BECE */
                   border-radius:15px;
                   font-size:120%;
                   padding-left:20px;}

.row             {
                  /*padding-top: 0px ;*/
                  /*padding-bottom: 0px ;*/
                  /*margin-top: 0px ;*/
                  /*margin-bottom: 0px ;*/
                  }

a .bmw-intention  {
                  color : rgb(30,30,30);
                  padding-top: 8px;
                  padding-bottom: 8px;
                  /*margin-top: 12px ;*/
                  margin-bottom: 15px ;
                    }


a .bmw-intention :hover { text-decoration:none; }

/*.bmw-texte { background-color:rgb(252, 252, 255);*/
                    /*border-radius:7px;}*/

.bmw-texte, a  .bmw-texte { background-color:rgb(252, 252, 255);
                            border-radius:7px;
                            color: black; text-decoration: none ;}
.bmw-texte {
    padding-top: 11px; /* for new bootstrap version */
    padding-bottom: 11px; /* for new bootstrap version */
    padding-left: 14px; /* for new bootstrap version */
    margin-bottom: 15px;
}


a:hover .bmw-texte, a:hover .citation, a:hover .bmw-intention { text-decoration:none;  color: #428bca;
    /*background-color: rgb(251, 228, 207); */
}
/*background-color: rgb(237,214,194); */

/*.well.well-small.bmw-texte.active  { text-decoration: none ;font-weight : bold  }*/

/*.bmw-text.active  { text-decoration: none ; color: #428bca;  }*/

a:hover { text-decoration: none }

a .citation   { color: black; font-size: 14px  }

.envoyer {height: 20px; margin-right:8px;margin-top: 7px; margin-left: 7px; }

.favourite {height: 20px; margin-right:8px;margin-top: 7px; margin-left: 7px; }

.breadcrumbpicto {height: 25px; }
.stylepicto {height: 25px; }

.icon-envelope {padding-right:10px; margin-top:15px; }

.bmw-texteTest { background-color:rgb(255, 255, 255);
                    border-radius:7px; border:none;}

.panneauTexte { margin-top : 20px; }

/*<!--#leCorps {padding-top : 50xp; !important }-->*/

.listeTextes {margin-top: 20px;}



.retourIntentions {}
.filtreTextes {margin-left:10px; color:  rgb(237,214,194); }

.maNav {margin-bottom:20px;}

/* dixit  http://angular-ui.github.io/bootstrap/  */
.nav, .pagination, .carousel a { cursor: pointer; }



.navbar-inverse .brandCerise { color:#D94179;  }
.brand { color: rgb(247,133,40); }



.brandTitle { color: rgb(0,0,0); }

.brandColoured  { color: rgb(247,133,40); }


  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    /*font-family: Verdana, Geneva, sans-serif*/

.panneauTexte .breadcrumb { margin-bottom: 5px;  }

.intentionCourante {/*color:#0088CC; 
                    color:#D94179;*/
                    /*color:rgb(83,27,46);*/
                    color:rgb(0,0,0);
                    /*margin-top:15px;*/
                    margin-top:0px;
                    /*margin-bottom:15px;*/
                    margin-bottom:17px;
                    clear:both;}

#modalMessageBody { padding: 0px; }

.nombreTextes {    
    text-align:center; 
    vertical-align:middle;
	color: rgb(247,133,40);
	font-weight:bold;}
.labelTextes {
	text-align:center;
	vertical-align:middle;
	}

.nombreTextesB {
    color: rgb(247,133,40);
    font-weight:bold;
    vertical-align:middle;
}

.labelTextesB {
    padding-top: 10px;
    vertical-align:middle;
}


.auteur {	color: rgb(247,133,40); }

.couleur{	color: rgb(32,42,72); }


.bmwQuestionButton { margin-top: 0;  }

.pager li a:hover,.pager a:hover { background-color: rgb(237,214,194); }

.selectionne li a { background-color: rgb(237,214,194); }


.selectionne.pager  li a  { background-color: rgb(237,214,194); }

.selectionne a { background-color: rgb(237,214,194) !important;  }
.H a { background-color: rgb(237,214,194) !important;  }

#zzz { background-color: rgb(237,214,194);  }

#enLigne {display:inline; padding-top : 5px;}

.modal-footer .nomDansFooterMessage { background-color: rgb(237,214,194) !important;  margin-top : 0 ; margin-bottom : 0 ;  padding-top : 0; padding-bottom : 0;     }

#prenomDansFooterMessage {  width : 150px;     }

#nomCompletDansFooterMessage { width : 100px;  }

blockquote footer, blockquote small, blockquote .small {font-size: 70%; padding-top: 2px;  }

toggle-switch {
  display: inline-block;
}

/* Styles for Toggle switch */
.switch {
  position: relative;
  width: 50px;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.switch.switchRight {
  background: #428bca;
}

.toggleButton {
  position: absolute;
  top: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid #428bca;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.switchLeft .toggleButton {
  left: -1;
}
.switchRight .toggleButton {
  left: 20px;
}